<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>CLIENTE - AGREGAR TARJETA</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/agregarTarjeta.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('logout') }}">
        <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
      </a>
    </div>
    <div class="links">
      <div class="link-header">AGREGAR TARJETA</div>
    </div>
    <div class="usuario">
      <div class="card">
        <div class="tarjeta-izq">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="tarjeta-der">
          <div class="nombre-tarjeta">{{ current_user.nombre }}</div>
          <div class="iconos-tarjeta">
            <a href="{{ url_for('homeCliente') }}" class="elemento ">
              <!-- <div class="contenido-elemento activo"> -->
              <div class="contenido-elemento">
                <i class="bi bi-house"></i>
                <h6>Inicio</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('datosCliente') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-person-rolodex"></i>
                <h6>Info. General</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('userRastrear') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-geo-alt"></i>
                <h6>Rastrear</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('logout') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-box-arrow-in-left cerrar"></i>
                <h6 class="cerrar">Salir</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <main class="main">
    <section class="central">
      <div class="contenedor">
        <!-- Tarjeta -->
        <section class="tarjeta" id="tarjeta">
          <div class="delantera">
            <div class="logo-marca" id="logo-marca">
              <img src="../static/img/tarjeta/logos/visa.png" alt="">
            </div>
            <img src="../static/img/tarjeta/icono/chip-tarjeta.png" class="chip" alt="">
            <div class="datos">
              <div class="grupo" id="numero">
                <p class="label">Número Tarjeta</p>
                <p class="numero">#### #### #### ####</p>
              </div>
              <div class="flexbox">
                <div class="grupo" id="nombre">
                  <p class="label">Nombre Tarjeta</p>
                  <p class="nombre">Jhon Doe</p>
                </div>

                <div class="grupo" id="expiracion">
                  <p class="label">Expiracion</p>
                  <p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="trasera">
            <div class="barra-magnetica"></div>
            <div class="datos">
              <div class="grupo" id="firma">
                <p class="label">Firma</p>
                <div class="firma">
                  <p></p>
                </div>
              </div>
              <div class="grupo" id="ccv">
                <p class="label">CCV</p>
                <p class="ccv"></p>
              </div>
            </div>
          </div>
        </section>



        <!-- Formulario -->
        <form action="{{ url_for('agregarTarjeta') }}" id="formulario-tarjeta" class="formulario-tarjeta" method="POST">
          {% with messages = get_flashed_messages()[-1]%}
          {% if messages %}
          <p class="info-message">
            {{ messages }}
          </p>
          {% endif %}
          {% endwith %}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <!-- Contenedor Boton Abrir Formulario -->

          <div class="grupo form-control">
            <label for="inputNumero">Número Tarjeta <label style="color: red;">*</label></label><br>
            <input type="text" id="inputNumero" name="inputNumero" maxlength="19" autocomplete="off"><br>
            <small>Mensaje de error</small>
          </div>
          <div class="grupo form-control">
            <label for="inputNombre">Nombre en la tarjeta <label style="color: red;">*</label></label><br>
            <input type="text" id="inputNombre" name="inputNombre" maxlength="19" autocomplete="off"><br>
            <small>Mensaje de error</small>
          </div>
          <div class="flexbox">
            <div class="grupo expira form-control">
              <label for="selectMes">Expiracion <label style="color: red;">*</label></label>
              <div class="flexbox">
                <div class="grupo-select chicos form-control  fomr-control-chico">
                  <select name="mes" id="selectMes">
                    <option disabled selected value="Mes">Mes</option>
                  </select><br>
                  <small class="mensaje-chico">Mensaje de error</small>
                </div>
                <div class="grupo-select chicos form-control  fomr-control-chico">
                </div>
                <div class="grupo-select chicos form-control fomr-control-chico">
                  <select name="year" id="selectYear">
                    <option disabled selected value="Anio">Año</option>
                  </select><br>
                  <small class="mensaje-chico">Mensaje de error</small>
                </div>
                <div class="grupo-select chicos form-control  fomr-control-chico">
                </div>
              </div>
            </div>

            <div class="grupo ccv chicos form-control">
              <label for="inputCCV">CCV <label style="color: red;">*</label></label>
              <input type="text" id="inputCCV" name="inputCCV" maxlength="3"><br>
              <small class="mensaje-chico">Mensaje de error</small>
            </div>
          </div>
          <!-- Contenedor Boton Abrir Formulario -->
          <div class="contenedor-btn">
            <button type="submit" class="btn-form registrar btn-abrir-formulario" id="btn-abrir-formulario">
              GUARDAR
            </button>
            <br>
            <a href="{{ url_for('homeCliente') }}" class="btn-abrir-formulario salir">
              SALIR
            </a>
          </div>
        </form>
      </div>
      <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
      <script src="../static/js/tarjetas/agregar.js"></script>
      <script src="../static/js/validaciones/tarjeta.js"></script>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>

</body>

</html>