{% extends 'base-admin-3level.html' %}
{% block body_main %}
<a href="{{url_for('lockers')}}" class="btn-cancelar"><button>Cancelar</button></a>
<form class="contenido" action="/admin/lockers/agregado" method="POST">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Keep -->
	<div class="titulo-formulario">
		<div class="img-catalogo"><img src="../../static/img/iconos/locker.png" alt="MiniLocker" width="35%" height="45%" />
		</div>
		<div>
			<h1 class="tituloAgregar">Agregar Locker</h1>
			{% with messages = get_flashed_messages()[-1]%}

			{% if messages %}
			<br />
			<div>
				<strong style="color: #e41f1a;">{{ messages }}</strong>
			</div>
			{% endif %}
			{% endwith %}
		</div>
	</div>
	<div class="datos-locker">
		<p class="texto">Ubicación <small>*</small></p>
		<select name="ubicacion" id="ubicacion">
			{% for location in locations %}
			<option value="{{ location.nombre }}"> {{ location.nombre }} </option>
			{% endfor %}
		</select>
		<!-- <input class="campo" name="ubicacion" id="ubicacion" type="text" placeholder=" Lindavista "> -->
		<p class="texto">Dirección <small>*</small></p>
		<input class="campo" name="direccion" id="direccion" type="text" placeholder=" Calle Leonardo da Vinci, 7, 41092. ">
		<p class="texto">Cantidad <small>*</small></p>
		<input class="campo" name="cantidad" id="cantidad" type="text" placeholder="1">

		<!-- <input class="campo" name="cantidad" id="cantidad" type="text" placeholder=" 5 "> -->
	</div>
	<div class="botones-formulario">
		<a href="#" class="btn-confirmar"><button>Confirmar</button></a>
	</div>
</form>

<div class="img-lateral">
	<img class="locker" src="../../static/img/Admin/Main-Console-web.png" alt="locker">
	<h2 class="Texto3">Unidad estándar adicional</h2>
</div>
{% endblock %}

{% block scripting_zone %}

{% endblock %}