<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Nombre de la pagina -->
  <title>AGREGAR REPARTIDOR</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/agregarRepartidor.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>
  <article>
    <header class="header">
      <!-- Logo de la empresa -->
      <div class="logo">
        <a href="../index.html">
          <img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
        </a>
      </div>
      <!-- Barra de navegacion dentro de la pagina -->
      <div class="secciones">
        <div class="nav-contenido">
          <a href="#">AGREGAR REPARTIDOR</a>
        </div>
      </div>
      <!-- Botones de acciones del sistema -->
      <div class="botones">
        <div class="nav-botones">
          <a href="#" class="btn btn-imgAdmin"><img src="../static/img/iconos/admin.webp" alt=""></a>
        </div>
        <div class="nav-botones">
          <a href="#" class="btn btn-administrador"
            ><button>ADMINISTRADOR</button></a
          >
        </div>
        <div class="nav-botones">
          <a href="#" class="btn btn-cerrarsesion"
            ><button>CERRAR SESIÓN</button></a
          >
        </div>
      </div>
    </header>
    <main class="main">
      <div class="contenido">
        <div class="titulo-pagina">
          <img src="../static/img/empresa/logo.png" alt="" class="logo-encabezado" />
          <br />
          <h2>AGREGAR REPARTIDOR</h2>
          <h5>Registro de nuevo repartidor</h5>
        </div>
        <form action="" class="formulario" id="formulario">
          <div>
            <!-- Grupo: Nombre -->
            <div class="form-control">
              <label for="nombre">Nombre <label style="color: red;">*</label></label>
              <input type="text" name="nombre" id="nombre" placeholder="Juan Perez" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>

            <!-- Grupo: Correo Electronico -->
            <div class="form-control">
              <label for="email">Email <label style="color: red;">*</label></label>
              <input type="email" name="email" id="email" placeholder="juanperez@sendiit.com" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>

            <!-- Grupo: Contraseña -->
            <div class="form-control">
              <label for="password">Contraseña <label style="color: red;">*</label></label>
              <input type="password" name="password" id="password" placeholder="$1234567Abc" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>

            <!-- Grupo: Contraseña 2 -->
            <div class="form-control">
              <label for="password_confirm">Confirmar Contraseña <label style="color: red;">*</label></label>
              <input type="password" name="password_confirm" id="password_confirm" placeholder="$1234567Abc" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>
          </div>
          <div>
            <!-- Grupo: Teléfono -->
            <div class="form-control">
              <label for="telefono">Teléfono <label style="color: red;">*</label></label>
              <input type="text" name="telefono" id="telefono" placeholder="4491234567" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>
            <!-- Grupo: Direccion -->
            <div class="form-control">
              <label for="direccion">Dirección <label style="color: red;">*</label></label>
              <input type="text" name="direccion" id="direccion" placeholder="Casa 1 Calle 2 C.P. 09214" />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i><br>
              <small>Error message</small>
            </div>
          </div>
          <button type="submit" class="btn-form">Agregar Repartidor</button>
        </form>
      </div>
      <div class="repartidor">
        <img class="img-repartidor" src="../static/img/repartidores/Repartidor_5.png" alt="" />
      </div>
    </main>
    <footer class="footer">
      <div class="derechos">
        <div class="copyright">
          <span>&copy;2022 México. Todos los derechos reservados.</span>
        </div>
      </div>
      <div class="redes">
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>
    </footer>
  </article>
  <script src="../static/js/validacionesRegistroRepartidor.js"></script>
</body>

</html>