{% extends 'base-admin.html' %}
{% block body_main %}
<!-- Boton de Clientes -->
<div class="arriba">
	<a href="#">
		<img src="../static/img/Admin/Usuarios.png" alt="Clientes">
	</a>
	<p class="subtit">Clientes</p>
</div>
<!-- Boton de Repartidores -->
<div class="abajo">
	<a href="{{ url_for('repartidores') }}">
		<img src="../static/img/Admin/Repartidores.png" alt="Repartidores">
	</a>
	<p class="subtit">Repartidores</p>
</div>
<!-- Boton de lockers -->
<div class="arriba">
	<a href="/admin/lockers">
		<img src="../static/img/Admin/Lockers.png" alt="Lockers">
	</a>
	<p class="subtit">Lockers</p>
</div>
<!-- Boton de Sistema -->
<div class="abajo">
	<a href="#">
		<img src="../static/img/Admin/Sistema.png" alt="Sistema">
	</a>
	<p class="subtit">Sistema</p>
</div>
{% endblock %}