<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>ADMIN - EDITAR LOCKER</title>
  <!-- Favicon de la empresa -->
  <link href="../../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../../static/css/editarLockers.css" />
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('index') }}">
        <img src="../../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
      </a>
    </div>
    <div class="links">
      <div class="link-header">EDITAR SUCURSAL</div>
    </div>
    <div class="usuario">
      <div class="tarjeta">
        <div class="tarjeta-izq">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="tarjeta-der">
          <div class="nombre-tarjeta">{{ current_user.nombre }}</div>
          <div class="iconos-tarjeta">
            <a href="{{ url_for('admin') }}" class="elemento ">
              <div class="contenido-elemento activo">
                <i class="bi bi-house"></i>
                <!-- <h6>Inicio</h6> -->
                <h6>Catálogo</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('logout') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-box-arrow-in-left cerrar"></i>
                <h6 class="cerrar">Salir</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <main class="main">
    <section class="izq">
      <div class="titulo-logo">
        <img src="../../static/img/categorias/lockers.png" alt="Logo empresa" />
      </div>

      <div class="titulo-pagina">
        <h1>EDITAR SUCURSAL</h1>
      </div>

      <div class="contenido">
        <form action="{{ url_for('lockersActualizado') }}" method="POST" id="formulario" class="formulario">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<input type="number"  name="id" value="{{ locker.id }}" hidden>
          <div class="campos-fomulario">
            <div class="campos">
              <!-- Campo: Ubicación -->
              <div class="form-control">
                <label for="Ubicacion">
                  <p>Ubicación<label style="color: red;">*</label></p>
                </label>
                <input type="text" name="Ubicacion" id="Ubicacion" value="{{ locker.ubicacion }}" class="texto-input noEditar"
                  autocomplete="off" disabled /><br>
                <small></small>
              </div>
              <!-- Campo: Direccion -->
              <div class="form-control">
                <label for="Direccion">
                  <p>Direccion<label style="color: red;">*</label></p>
                </label>
                <input type="text" name="Direccion" id="Direccion" value="{{ locker.direccion }}"
                  class="texto-input" autocomplete="off" /><br>
                <small></small>
              </div>
              <!-- Campo: Cantidad -->
              <div class="form-control">
                <label for="Cantidad">
                  <p>Cantidad<label style="color: red;">*</label></p>
                </label>
                <input type="text" name="Cantidad" id="Cantidad" value="{{ cantidad }}"  class="texto-input"
                  autocomplete="off" /><br>
                <small></small>
              </div>
              <!-- Campo: Latitud -->
              <div class="form-control">
                <label for="Latitud">
                  <p>Latitud<label style="color: red;">*</label></p>
                </label>
                <input type="text" name="Latitud" id="Latitud" value="{{ locker.latitud }}"  class="texto-input"
                  autocomplete="off" /><br>
                <small></small>
              </div>
              <!-- Campo: Longitud -->
              <div class="form-control">
                <label for="Longitud">
                  <p>Longitud<label style="color: red;">*</label></p>
                </label>
                <input type="text" name="Longitud" id="Longitud" value="{{ locker.longitud }}"  class="texto-input"
                  autocomplete="off" /><br>
                <small></small>
              </div>
            </div>

            <!-- Grupo: Boton ingresar -->
            <div class="botones">
              <button type="submit" class="btn-form">GUARDAR</button>
              <a href="{{ url_for('lockers') }}" class="btn-form cancelar">CANCELAR</a>
            </div>

            <div class="boton-formulario">
            </div>
        </form>

      </div>
    </section>
    <section class="der">
      <div class="img-repartidor">
        <img src="../../static/img/Admin/lockers/locker.png" alt="Locker modelo" />
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>
  <script src="../../static/js/validaciones/editarLockers.js"></script>
</body>

</html>