<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Definiciond el titulo -->
  <title>Sendiit- Inicio cliente</title>
  <!-- Favicon de la empresa -->
  <link href="../../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <!-- <link rel="stylesheet" href="../../static/css/main-principal.css" /> -->
  <!-- <link rel="stylesheet" href="../../static/css/InicioCliente.css" /> -->
  <link rel="stylesheet" href="../../static/css/agregarTarjeta.css" />

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- <link rel="stylesheet" href="../static/css/header-principal.css" />
	<link rel="stylesheet" href="../static/css/footer-principal.css" />
	<link rel="stylesheet" href="../static/css/main.css" /> -->
</head>

<body>
  <article>
    <header class="header">
      <!-- Logo de la empresa -->
      <div class="logo">
        <a href="{{ url_for('index') }}">
          <img src="../../static/img/empresa/logo.png" alt="Logo de la empresa" />
        </a>
      </div>
      <div class="titulo-pagina">EDITAR TARJETA</div>
      <div class="user">
        <div class="perfil"><i class="bi bi-person-circle"></i></div>
        <div class="campos-user">
          <div class="name-user">{{ current_user.nombre }}</div>
          <div class="btn-user">
            <div class="pantalla-user"><a href="{{ url_for('homeCliente') }}">Inicio</a></div>
            <div class="pantalla-user"><a href="#">Historial</a></div>
            <div class="pantalla-user"><a href="#">Rastrear</a></div>
            <div class="cerrar-sesion"><a href="{{ url_for('logout') }}">Cerrar Sesión</a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="contenido">
        <form class="contenido" action="/user/tarjetas/actualizado" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Keep -->
          <input type="number" name="id" value="{{ tarjeta.id }}" hidden>
          <div class="titulo-formulario">
            <div class="img-catalogo"><img src="../../static/img/iconos/locker.png" alt="MiniLocker" width="35%"
                height="45%" />
            </div>
            <div>
              <h1 class="tituloAgregar">Editar Tarjeta</h1>
            </div>
          </div>
          <div class="datos-locker">
            <p class="texto">Nombre <small>*</small></p><br>
            <input class="campo" name="nombre" id="nombre" type="text" value="{{ tarjeta.nombre }}">

            <p class="texto">Numero de tarjeta <small>*</small></p><br>
            <input class="campo" name="numtarjeta" id="numtarjeta" type="text" value="{{ tarjeta.numtarjeta}}">

            <div class="grupo expira">
              <label for="selectMes">Expiracion</label>
              <div class="flexbox">
                <div class="grupo-select">
                  <select name="mes" id="selectMes">
                    {% for i in range(1,11) %}
                      <option> {{ i }} </option>
                    {% endfor %}
                    <option selected disabled>
                      {{ tarjeta.expiracion[0] }}
                      {% if tarjeta.expiracion[1] != '-' %}
                        {{ tarjeta.expiracion[1] }}
                      {% endif %}
                    </option>
                  </select>
                  <!-- <i class="fas fa-angle-down"></i> -->
                </div>
                  <select name="year" id="selectYear">
                    {% for i in range(2022,2031) %}
                    <option> {{ i }} </option>
                    {% endfor %}
                    <option selected disabled>
                      {% if tarjeta.expiracion[2] == '-' %}
                        {{ tarjeta.expiracion[3:] }}
                      {% else %}
                        {{ tarjeta.expiracion[2:] }}
                      {% endif %}
                    </option>
                  </select>
                  <!-- <i class="fas fa-angle-down"></i> -->
                </div>
            </div>
            <p class="texto">CVV <small>*</small></p><br>
            <input class="campo" name="cvv" id="cvv" type="text" value="{{ tarjeta.cvv }}">

          </div>
          <div class="botones-formulario">
            <a href="#" class="btn-confirmar"><button>Guardar</button></a>
          </div>
        </form>
        <a href="{{ url_for('userTarjetas') }}" class="btn-cancelar"><button>Cancelar</button></a>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="../../static/js/agregarTarjeta.js"></script>
    </main>

</body>

</html>