{% extends 'base-admin-3level.html' %}
{% block body_main %}

<!-- <div>
	<a href="{{ url_for('lockers') }}" class="btn-cancelar"><button>Cancelar</button></a>
</div> -->
<div class="col-izq">
	<form class="contenido" action="/admin/lockers/actualizado" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Keep -->
		<input type="number"  name="id" value="{{ locker.id }}" hidden>
		<div class="titulo-formulario">
			<div class="img-catalogo"><img src="../../static/img/iconos/locker.png" alt="MiniLocker" width="35%"
					height="45%" />
			</div>
			<div>
				<h1 class="tituloAgregar">Editar Locker</h1>
			</div>
		</div>
		<div class="datos-locker">
			<p class="texto">Ubicación <small>*</small></p>
			<select name="ubicacion" id="ubicacion" disabled>
				{% for location in locations %}
					<option value="{{ location.nombre }}" {% if locker.ubicacion == location.nombre %} selected {% endif %}> {{ location.nombre }} </option>
				{%  endfor %}
			</select>
			<p class="texto">Dirección <small>*</small></p>
			<input class="campo" name="direccion" id="direccion" type="text" value="{{ locker.direccion }}">
			<p class="texto">Cantidad <small>*</small></p>
			<input class="campo" name="cantidad" id="cantidad" type="text" placeholder=" 1 " value="{{ locker.cantidadS / 5 }}" disabled>			
			<!-- <input class="campo" name="cantidad" id="cantidad" type="text" placeholder=" 5 "> -->
		</div>
		<div class="botones-formulario">
			<a href="#" class="btn-confirmar"><button>Guardar</button></a>
		</div>
	</form>
	<a href="/admin/lockers" class="btn-cancelar"><button>Cancelar</button></a>
</div>

<div class="img-lateral">
	<img class="locker" src="../../../static/img/Admin/Main-Console-web.png" alt="locker">
	<h2 class="Texto3">Unidad estándar adicional</h2>
</div>
{% endblock %}

{% block message_dialog %}
<!-- Modal para confirmacion -->
<dialog class="modal-btn-confirmar" id="modal-btn">
	<center>
		<div class="contenido-modal">
			<div class="encabezado-modal"><button onclick="cerrarEliminar()" class="modal-btn-cerrar-eliminar"><i
						class="bi bi-x-circle"></i></button></div>
			<div class="titulo-modal">
				<h2>¿Desea eliminar el locker?</h2>
			</div>
			<!-- <div class="icono-modal"><i class="bi bi-check2-circle"></i></div> -->
			<div class="botones-modal">
				<!-- <a href="#"><button class="aceptar">Aceptar</button></a> -->
				<!-- <a href="#"><button class="intentar">Intentar de nuevo</button></a> -->
				<a href="#"><button class="confirmar">Confirmar</button></a>
				<a href="#"><button class="cancelar">Cancelar</button></a>
			</div>
		</div>
	</center>
</dialog>
{% endblock %}

{% block scripting_zone %}

{% endblock %}