<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Titulo de pagina -->
	<title>SENDIIT - ERROR 404</title>
	<!-- Favicon de la empresa -->
	<link href="../static/img/empresa/favicon.png" rel="icon" />
	<!-- Estilos -->
	<link rel="stylesheet" href="../static/css/error404.css" />
</head>

<body>
	<!-- Header -->
	<header class="header">
	</header>

	<!-- Main -->
	<main class="main">
		<section class="izq">
			<div class="img-paquete">
				<img src="../static/img/paquetes/noEncontrado.jpg" alt="Imagen de repartidor" />
			</div>
		</section>
		<section class="der">
			<div class="texto-grande">
				<p>Vaya...</p>
			</div>
			<div class="texto-mediano">
				<p>No hemos encontrado la página que buscas.</p>
			</div>
			<div class="texto-chico">
				<br><p>Código de error: 404</p>
				<p>Aqui tienes algunos enlaces que pueden servirte de ayuda:</p><br>
			</div>
			<div class="texto-link">
				<a class="btn" href="./inicio.html">Inicio</a>
				<a class="btn" href="./ingresar.html">Ingresar</a>
				<a class="btn" href="./registrar.html">Registrar</a>
			</div>
		</section>
	</main>

	<!-- Footer -->
	<footer class="footer">
		<div class="derechos">
			<div class="copyright">
				<span>&copy;2022 México. Todos los derechos reservados.</span>
			</div>
		</div>
		<div class="redes">
			<a href="#"><i class="red bi bi-facebook"></i></a>
			<a href="#"><i class="red bi bi-instagram"></i></a>
			<a href="#"><i class="red bi bi-telegram"></i></a>
			<a href="#"><i class="red bi bi-envelope-fill"></i></a>
		</div>
	</footer>
</body>

</html>