<!-- {% extends 'base-home.html' %}
{% block body_main %}
{% endblock %} -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Nombre de la pagina -->
		<title>PÁGINA NO ENCONTRADA</title>
		<!-- Favicon de la empresa -->
		<link href="../static/img/empresa/favicon.png" rel="icon" />
		<!-- Estilos -->
		<link rel="stylesheet" href="../static/css/error404.css" />
	</head>
	<body>
		<article>
			<header class="header">
			</header>
			<main class="main">
				<div class="contenido">
					<h1 class="titulo">Vaya...</h1>
					<h2 class="titulo">No hemos encontrado la página que buscas.</h2>
					<h3 class="titulo">Código de error: 404</h3>
					<h3 class="titulo">Aqui tienes algunos enlaces que pueden servirte de ayuda:</h3>
					<div class="links">
						<a href="./inicio.html">Inicio</a><br>
						<a href="./ingresar.html">Ingresar</a><br>
						<a href="./registrar.html">Registrar</a><br>
					</div>
				</div>
				<div class="imagen">
					<img src="../static/img/empresa/noEncontrado.jpg" alt="" />
				</div>
			</main>
			<footer class="footer">
				<div class="derechos">
					<div class="copyright">
						<span>&copy;2022 México. Todos los derechos reservados.</span>
					</div>
				</div>
				<div class="redes">
					<div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
					</div>
					<div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
					</div>
					<div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
					</div>
					<div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
					</div>
				</div>
			</footer>
		</article>
	</body>
</html>
