<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>CLIENTE - ESTATUS PAQUETE</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/estatusCliente.css" />
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
      </a>
    </div>
    <div class="links">
      <div class="link-header">ESTATUS DEL PAQUETE</div>
    </div>
    <div class="usuario">
      <div class="tarjeta">
        <div class="tarjeta-izq">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="tarjeta-der">
          <div class="nombre-tarjeta"></div>
          <div class="iconos-tarjeta">
            <a href="{{ url_for('homeCliente') }}" class="elemento ">
              <!-- <div class="contenido-elemento activo"> -->
              <div class="contenido-elemento">
                <i class="bi bi-house"></i>
                <h6>Inicio</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('datosCliente') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-person-rolodex"></i>
                <h6>Info. General</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('userRastrear') }}" class="elemento activo">
              <div class="contenido-elemento">
                <i class="bi bi-geo-alt"></i>
                <h6>Rastrear</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('logout') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-box-arrow-in-left cerrar"></i>
                <h6 class="cerrar">Salir</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <main class="main">
    <section class="trayecto">
      <div class="img-trayecto">
        <img src="../static/img/rastrear/trayectoria.png" alt="">
      </div>
      <div class="texto-trayecto">
        <p>Envío de {{ envio.origen }} a {{ envio.destino }}.</p>
      </div>
    </section>
    <section class="arriba">
      <div class="sec-contenido">
        <img src="../static/img/rastrear/estatus-1.png" alt="">
      </div>
      <div class="sec-contenido">
        <p class="campo-texto">En espera de recolección, por el repartidor.</p>
      </div>
      <div class="sec-contenido"><img src="../static/img/rastrear/estatus-3.png" alt=""></div>
      <div class="sec-contenido">
        <p class="campo-texto">Entregado en locker destino.</p>
      </div>
      <div class="sec-contenido"><img src="../static/img/rastrear/estatus-5_1.png" alt=""></div>
    </section>
    <section class="central">
      <div class="progreso-contenedor">
        <div class="progreso" id="progreso"></div>
        <div class="circulo active">1</div>
        <div class="circulo active">2</div>
        <div class="circulo active">3</div>
        <div class="circulo active">4</div>
        <div class="circulo">5</div>
      </div>
    </section>
    <section class="abajo">
      <div class="sec-contenido">
        <p class="campo-texto">Por depositarse en locker, por el cliente.</p>
      </div>
      <div class="sec-contenido">
        <img src="../static/img/rastrear/estatus-2.png" alt="">
      </div>
      <div class="sec-contenido">
        <p class="campo-texto">En camino.</p>
      </div>
      <div class="sec-contenido"><img src="../static/img/rastrear/estatus-4_1.png" alt=""></div>
      <div class="sec-contenido">
        <p class="campo-texto">Recogido.</p>
      </div>
    </section>
    <section class="boton-regresar">
      <div class="boton-regreso">
        <a href="{{ url_for('homeCliente') }}">
          <i class="bi bi-arrow-left-circle"></i>
          <span>INICIO</span>
        </a>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>
  <script>
    progreso.style.width = (3 / 4) * 100 + '%'; 
  </script>
</body>

</html>