<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Nombre de la pagina -->
	<title>Formulario de pago</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<!-- Favicon de la empresa -->
	<link href="../static/img/empresa/favicon.png" rel="icon" />
	<!-- Estilos -->
	<link rel="stylesheet" href="../../static/css/formularioPago.css" />
</head>

<body>
	<article>
		<header class="header">
			<!-- Logo de la empresa -->
			<div class="logo">
				<a href="{{ url_for('index') }}">
					<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
				</a>
			</div>
			<div class="titulo-pagina">FORMULARIO DE ENVIO</div>
			<div class="user">
				<div class="perfil"><i class="bi bi-person-circle"></i></div>
				<div class="campos-user">
					<div class="name-user">{{ current_user.nombre }}</div>
					<div class="btn-user">
						<div class="pantalla-user"><a href="{{ url_for('home') }}">Inicio</a></div>
						<div class="pantalla-user"><a href="#">Historial</a></div>
						<div class="pantalla-user"><a href="#">Rastrear</a></div>
						<div class="cerrar-sesion"><a href="{{ url_for('logout') }}">Cerrar Sesión</a></div>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="contenedor">
				<p align="left">Sus tarjetas registradas anteriormente:</p>

				<form action="/user/formularioPago" method="POST">

					<select name="" id="" class="selector">
						{% for tarjeta in tarjetas %}
							<option value="{{ tarjeta.id }}">Tarjeta que termina en: **** **** **** {{ tarjeta.numtarjeta[15:19] }}</option>
						{% endfor %}
					</select>

					<br>
					<p align="left">Usar una nueva tarjeta:</p>
					<div class="agregar">
						<a href="{{ url_for('agregarTarjeta') }}" id="agregarTarjeta" class="btn-tarjeta" target="_blank">AGREGAR TARJETA</a>
						<p style="color:#777777">*Solo aceptamos pagos con tarjetas de crédito/débito</p>
					</div>
					<input type="hidden" name="tarjetas" id="inputSelect" value="">

					{%for item in envio %}
					<input type="hidden" name="{{item}}" value="{{envio[item]}}">
					{% endfor %}
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				

			</div>
			<div>
				<img class="tarjeta" src="../static/img/iconos/tarjeta.png">
			</div>
			<div class="contenedor2">
				<div class="no-envio">
					<div class="envio-texto">
						<p>Número de envío</p>
						<p>XXXX XXXX</p>
						<p style="font-size: 20px; opacity: 0.8;">Monto a pagar:</p>
						<p style="font-size: 15px; opacity: 0.8;">$ 107.75 + 17.25 (IVA)</p>
						<p style="font-size: 15px; opacity: 0.8;">Costo total: $125.00</p>
					</div>

				</div>

				<div class="botones">
					<div class="pagar">
						<a href="#" class="btn-pagar"><button>PAGAR</button></a>
					</div>
					<div class="cancelar">
						<a href="{{url_for('home')}}" id="CancelarEnvio"class="btn-cancelar">CANCELAR</a>
					</div>
				</div>
			</div>
		</form>
			<script src="../static/js/formularioPago.js"></script>

		</main>
		<footer class="footer">
			<div class="derechos">
				<div class="copyright">
					<span>&copy;2022 México. Todos los derechos reservados.</span>
				</div>
			</div>
			<div class="redes">
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
				</div>
			</div>
		</footer>
	</article>
</body>

</html>