<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>ENVIO - CLIENTE</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="../static/css/formulariosPaquete.css" />
</head>

<body onload="getDisponibilidad()">
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
      </a>
    </div>
    <div class="links">
      <div class="link-header">FORMULARIOS DEL PAQUETE</div>
    </div>
    <div class="usuario">
      <div class="tarjeta">
        <div class="tarjeta-izq">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="tarjeta-der">
          <div class="nombre-tarjeta">{{ current_user.nombre }}</div>
          <div class="iconos-tarjeta">
            <a href="{{ url_for('homeCliente') }}" class="elemento ">
              <!-- <div class="contenido-elemento activo"> -->
              <div class="contenido-elemento">
                <i class="bi bi-house"></i>
                <h6>Inicio</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('userHistorial') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-clipboard-check"></i>
                <h6>Historial</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('userRastrear') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-geo-alt"></i>
                <h6>Rastrear</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="{{ url_for('logout') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-box-arrow-in-left cerrar"></i>
                <h6 class="cerrar">Salir</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <main class="main">
    <section class="central">
      <div class="boton-regreso">
        {% if current_user.is_active %}
        <a href="{{ url_for('homeCliente') }}">
        {% else %}
        <a href="{{ url_for('index') }}">
        {% endif %}
            <i class="bi bi-arrow-left-circle"></i>
            <span>INICIO</span>
        </a>
    </div>
      <div class="slider">
        <form action="/user/formularioEnvio" method="POST" id="formulario" class="formulario">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="costo" value="" id="inputCosto">
          <div class="slides">
            <input type="radio" name="btn-paso" id="paso1" class="botonpaso">
            <input type="radio" name="btn-paso" id="paso2" class="botonpaso">
            
            <div class="slide primero">
              <div class="slide-izq">

                  <div class="campos-fomulario">

                    <div class="campos-izq">
                      <!-- Campo: Origen -->

                      <div class="form-control">
                        <br>
                        <label for="Origen">
                          <p>Origen:<label style="color: red;">*</label></p>
                        </label>
                        <select name="origen" id="Origen" class="selector">
                          <option value="0">Seleccionar</option>
                          <option value="Lindavista">Lindavista</option>
                          <option value="Colonia del Valle">Colonia del Valle</option>
                          <option value="Sátelite">Sátelite</option>
                          <option value="Villa de Aragón">Villa de Aragón</option>
                        </select>
                        <small></small>
                      </div>

                      <!-- Campo: Destino -->

                      <div class="form-control">
                        <br>
                        <label for="Destino">
                          <p>Destino:<label style="color: red;">*</label></p>
                        </label>
                        <select name="destino" id="Destino" class="selector">
                          <option value="0">Seleccionar</option>
                          <!-- <option value="Lindavista">Lindavista</option>
                          <option value="Colonia del Valle">Colonia del Valle</option>
                          <option value="Sátelite">Sátelite</option>
                          <option value="Villa de Aragón">Villa de Aragón</option> -->
                        </select>
                        <small></small>
                      </div>

                      <!-- Campo: Tamaño -->

                      <div class="form-control">
                        <br>
                        <label for="Tamaño">
                          <p>Tamaño del paquete<label style="color: red;">*</label></p>
                        </label>
                        <select name="tamano" id="Tamaño" class="selector">
                          <option value="0">Seleccionar</option>
                          <option value="Chico">Chico (20cm, 35cm, 50cm)</option>
                          <option value="Mediano">Mediano(45cm, 35cm, 50cm)</option>
                          <option value="Grande">Grande(85cm, 35cm, 50cm)</option>
                        </select>
                        <small></small>
                      </div>

                      <!-- Campo: Fragil -->

                      <div class="form-control">
                        <br>
                        <label for="Tamaño">
                          <p>¿Es fragil?</p>
                        </label>
                        <select name="fragil" id="cbox" class="selector fragil">
                          <option value="0" selected>No</option>
                          <option value="1">Si</option>
                        </select>
                      </div>
                    </div>
                    <div class="campos-der">

                      <!-- Campo: Peso -->

                      <div class="form-control">
                        <br>
                        <label for="Peso">
                          <p>Peso del paquete en Kg.<label style="color: red;">*</label></p>
                        </label>
                        <input type="text" name="peso" id="Peso" placeholder="12.50" class="texto-input"
                          autocomplete="off" /><br>
                        <small></small>
                      </div>

                      <!-- Campo: Nombre persona destino -->

                      <div class="form-control">
                        <br>
                        <p>Nombre y apellido de la persona que recibe el paquete.<label style="color: red;">*</label></p>
                        <input type="Destinatario" name="nombre" id="Destinatario" placeholder="Jose Lopez"
                          class="texto-input input" autocomplete="off" /><br>
                        <small></small>
                      </div>

                      <!-- Campo: Correo persona destino-->

                      <div class="form-control">
                        <br>
                        <p>Email de la persona que recibe el paquete<label style="color: red;">*</label></p>
                        <input type="EmailDestinatario" name="email" id="EmailDestinatario"
                          placeholder="correojuan_lopez@ejemplo.com" class="texto-input input" autocomplete="off" /><br>
                        <small></small>
                      </div>

                      <!-- Campo: Telefono persona destino -->

                      <div class="form-control">
                        <br>
                        <p>Teléfono de la persona que recibe el paquete </Obj><label style="color: red;">*</label></p>
                        <input style="width:50%;" type="TelefonoDestinatario" name="telefono" id="TelefonoDestinatario"
                          placeholder="55 55 55 55 55" class="texto-input" autocomplete="off" /><br>
                        <small></small>
                      </div>
                    </div>

                  </div>

                  <!-- <div class="boton-formulario">
                    <button type="submit" class="btn-siguiente"> SIGUIENTE PASO</button>
                  </div> -->
    
              </div>
              <div class="slide-der">
                <!-- Mapbox  -->
                <!-- <div class="mapa">mapa</div> -->
                <div id='map' class="mapa"></div>
                <!-- end Mapbox -->

                <div class="costos">
                  <div class="cantidad">
                    <h1>precio</h1>
                    <div class="pago">
                      <h2 id="precioTotal">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                  <div class="cantidad">
                    <h1>IVA</h1>
                    <div class="pago">
                      <h2 id="ivaFinal">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                  <div class="cantidad">
                    <h1>costo total</h1>
                    <div class="pago">
                      <h2 id="precioFinal">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                </div>
                <!-- <div class="boton-formulario">
                  <a href="{{ url_for('homeCliente') }}"></a><button type="submit" class="btn-salir"> SALIR</button></a>
                </div> -->
              </div>
            </div>
            <div class="slide">
              <div class="slide-izq">
                  <div class="campos-fomulario">
                    <div class="campos-izq-tarjeta">

                      <!-- Campo: AgregarTarjetas -->
                      <div class="agregar-tarjeta">
                        <p class="btn-agregar" onclick="NewTarjeta()"> INGRESAR TARJETA</p>
                      </div>
                      
                      <div class="leyenda" id="leyenda">
                        <h4>*Solo aceptamos pagos con tarjetas de crédito/débito.</h4>
                      </div>
                      <div id="addTarjeta" style="display: none;" class="addTarjeta">

                        <!-- Campo : Numero de tarjeta -->
                        <div class="grupo-tarjeta form-control">
                          <label for="inputNumero">Número Tarjeta <label style="color: red;">*</label></label>
                          <input type="text" id="inputNumero" maxlength="16" autocomplete="off" name="inputNumero" class="input-tarjeta">
                          <small>Mensaje de error</small>
                        </div>

                        <!-- Campo: Nombre tarjeta -->
                        <div class="grupo-tarjeta form-control">
                          <label for="inputNombre">Nombre en la tarjeta <label style="color: red;">*</label></label>
                          <input type="text" id="inputNombre" maxlength="20" autocomplete="off" name="inputNombre" class="input-tarjeta">
                          <small>Mensaje de error</small>
                        </div>

                        <!-- Campo: CVV -->
                        <div class="grupo-tarjeta form-control">
                          <label for="inputCCV">CCV <label style="color: red;">*</label></label>
                          <input type="text" id="inputCCV" name="inputCCV" maxlength="3" class="input-tarjeta input-chico">
                          <small class="mensaje-chico">Mensaje de error</small>
                        </div>

                        <!-- Campo: Mes -->

                        <div class="grupo-tarjeta form-control">
                          <label for="mes">Mes <label style="color: red;">*</label></label>
                          <select name="mes" id="mes" class="selector-tarjeta  selector-chico">
                              <option value="Mes">Mes</option>
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                            </select>
                          <small class="mensaje-chico">Mensaje de error</small>
                        </div>

                        <!-- Campo: Año -->
                        <div class="grupo-tarjeta form-control">
                          <label for="year">Año <label style="color: red;">*</label></label>
                          <select name="year" id="year" class="selector-tarjeta selector-chico">
                            <option value="Año">Año</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                          </select>
                          <small class="mensaje-chico">Mensaje de error</small>
                        </div>

                        <div class="agregar-tarjeta">
                          <p class="btn-Noagregar cancelar-tarjeta" onclick="Reset()">NO AGREGAR</p>
                        </div>
                      </div>
                      <!-- Campo: Tarjetas -->
                      
                      <div class="form-control tarjetasAgregadas" id="guardadas">
                        <br>
                        <label for="Tarjetas">
                          <p>Sus tarjetas almacenadas:<label style="color: red;">*</label></p>
                        </label>
                       
                        <select name="tarjetas" id="Tarjetas" class="selector">
                          <option value="Seleccionar">Seleccionar</option>
                          <option value="**** **** **** 1234 ">**** **** **** 1234</option>
                          
                        </select><br>
                        <small></small>
                      </div>

                    </div>
                    <div class="campos-der-tarjeta">
                      <img src="../static/img/tarjetas/tarjeta.png" alt="">
                    </div>
                  </div>
                  <div class="boton-formulario">
                    <button type="submit" class="btn-pagar">PAGAR</button>
                  </div>
              </div>
              <div class="slide-der">
                <div class="img-paquete"><img src="../static/img/paquetes/entrega.png" alt=""></div>
                <!-- <div class="numEnvio">XXXX - XXXX</div> -->
                <div class="costos">
                  <div class="cantidad">
                    <h1>precio</h1>
                    <div class="pago">
                      <h2 id="precioTotal2">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                  <div class="cantidad">
                    <h1>IVA</h1>
                    <div class="pago">
                      <h2 id="ivaFinal2">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                  <div class="cantidad">
                    <h1>costo total</h1>
                    <div class="pago">
                      <h2 id="precioFinal2">$ 0</h2>
                      <h2>&nbsp;&nbsp;&nbsp;&nbsp; MXN</h2>
                    </div>
                  </div>
                </div>
                <!-- <div class="boton-formulario">
                  <a href="{{ url_for('homeCliente') }}"></a><button type="submit" class="btn-salir"> CANCELAR</button></a>
                </div> -->
              </div>
            </div>
          </div>
        </form> 
      </div>
      <div class="botones-pasos">
        <label for="paso1" class="btn-seleccionar">
          <h6>PASO #1</h6>
          <h6>FORMULARIO DE ENVÍO</h6>
        </label>
        <label for="paso2" class="btn-seleccionar">
          <h6>PASO #2</h6>
          <h6>FORMULARIO DE PAGO</h6>
        </label>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>
  <script src="../static/js/mapboxfinal.js"></script>
  <script src="../static/js/validaciones/formularioEnvio.js"></script>
</body>

</html>