{% extends 'base-home.html' %}
{% block body_main %}
<div class="imagen">
	<img src="../static/img/repartidores/Repartidor_1.png" alt="" />
</div>
<div class="contenido">
	<div class="logo-titulo">
		<img src="../static/img/empresa/logo.png" alt="" />
	</div>
	<div class="slogan">
		<b><i>
				<h2 class="titulo">" Tecnología, es nuestro secreto para entregar y guardar rápido tu paquete "</h2>
		</b></i>
	</div>
	<div class="boton-dirigido">
		<a href="#" class="btn-dirigido">ENVIAR PAQUETE</a>
	</div>
</div>
{% endblock %}