{% extends 'base-home.html' %}
{% block body_main %}
<section>
	<h2 class="titulo">Sendiit</h2>
	<div class="contenedor-sobre-nosotros">
		<div class="conocenos">
			<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
		</div>
		<div class="contenido-textos">

			<a class="titulo" a href="#">¡Conocenos!</a>
			<p class="texto">
				¿Te gustaria enviar algun objeto con nosotros ?
			</p>
			<p>ㅤ⠀ㅤ</p>

			<!--  Boton enviar ahora -->
			<div class="botones">
				<a href="./login" class="btn btn-enviarAhora"><button>Enviar Ahora</button></a>
			</div>
		</div>
		<div>
			<img class="repartidor" src="../static/img/repartidores/rep2.png" alt="repartidor" />
		</div>

	</div>

</section>
{% endblock %}