{% extends 'base-home.html' %}
{% block body_main %}
<section>
	<div class="contenedor-sobre-nosotros">
		<div>
			<!-- repartidor -->
			<img
				class="repartidor"
				src="../static/img/repartidores/Repartidor_1.png"
				alt="repartidor"
			/>
		</div>
	</div>
</section>
<section>
	<div class="conocenos">
		<!-- logo -->
		<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
	</div>
	<div class="slogan">
		<h2 class="titulo">ENVIOS EN MENOS DE 24 HORAS</h2>
		<!-- Slogan -->
		<br /><br />
	</div>
	<div class="btnEnviar">
		<!-- Boton de enviar-->
		<a href="/login">
			<img
				src="../static/img/principal/botondeClick.png"
				alt="botondeClick"
			/>
		</a>
	</div>
</section>
{% endblock %}