<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Nombre de la pagina -->
  <title>PLANTILLA</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/InfoGeneral.css" />
</head>

<body>
  <article>
    <header class="header">
      <!-- Logo de la empresa -->
      <div class="logo">
        <a href="../index.html">
          <img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
        </a>
      </div>
      <div></div>
      <div class="user">
        <div class="perfil"><i class="bi bi-person-circle"></i></div>
        <div class="campos-user">
          <div class="name-user">Ricardo Sánchez</div>
          <div class="btn-user">
            <div class="pantalla-user"><a href="#">I. General</a></div>
            <div class="cerrar-sesion"><a href="#">Cerrar Sesión</a></div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="izq">
        <div class="dato">
          <h1 id="nombreCampo">Email:</h1>
          <label id="textoN">ricardosanchez@gmail.com</label>
        </div>
        <div class="dato">
          <h1 id="nombreCampo">Nombre</h1>
          <label id="textoC">Ricardo Sánchez Cruz</label>
        </div>
        <div class="dato">
          <h1 id="nombreCampo">Teléfono</h1>
          <label id="textoR">5598653214</label>
        </div>
        <div class="dato">
          <h1 id="nombreCampo">Dirección</h1>
          <label id="textoT">Av. Juan de Dios Bátiz, Nueva Industrial Vallejo, CDMX.</label>
        </div>
        <div class="dato">
          <h1 id="nombreCampo">Fecha de ingreso</h1>
          <label id="textoT">01-02-2020</label>
        </div>
      </div>
      <div class="der">
        <div>
          <img class="buscar" src="../static/img/iconos/buscar.png" alt="buscar" style="width: 80%; height: 80%;">
        </div>
        <div class="seccionboton">
          <div class="botones">
            <a href="./InicioRepartidor.html" class="btn-confirmar">
              <img id="home" src="../static/img/iconos/home.png" alt="home">
              <button>
                <div class="textoI">Inicio</div>
              </button></a>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="derechos">
        <div class="copyright">
          <span>&copy;2022 México. Todos los derechos reservados.</span>
        </div>
      </div>
      <div class="redes">
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
        </div>
        <div class="logo-red">
          <a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>
    </footer>
  </article>
</body>

</html>