<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Nombre de la pagina -->
	<title>INGRESAR</title>
	<!-- Favicon de la empresa -->
	<link href="../static/img/empresa/favicon.png" rel="icon" />
	<!-- Estilos -->
	<link rel="stylesheet" href="../static/css/ingresar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>
	<article>
		<header class="header">
			<!-- Logo de la empresa -->
			<div class="logo">
				<a href="{{ url_for('index') }}">
					<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
				</a>
			</div>
			<!-- Barra de navegacion dentro de la pagina -->
			<div class="secciones">
				<div class="nav-contenido">
					<a href="{{ url_for('index') }}">INICIO</a>
				</div>
				<div class="nav-contenido">
					<a href="{{ url_for('sucursales') }}">SUCURSALES</a>
				</div>
				<div class="nav-contenido">
					<a href="{{ url_for('conocenos') }}">CONÓCENOS</a>
				</div>
			</div>
			<!-- Botones de acciones del sistema -->
			<div class="botones">
				<div class="nav-botones">
					<a href="{{ url_for('login') }}" class="btn btn-enviar"><button>ENVIAR</button></a>
				</div>
				<div class="nav-botones">
					<a href="{{ url_for('login') }}" class="btn btn-ingresar"><button>INGRESAR</button></a>
				</div>
				<div class="nav-botones">
					<a href="{{ url_for('register') }}" class="btn btn-registarse"><button>REGISTRARSE</button></a>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="contenido">
				<div class="titulo-pagina">
					<img src="../static/img/empresa/logo.png" alt="" class="logo-encabezado" />
					<br />
					<h2>INICIO DE SESIÓN</h2>
					<h5>Ingresa a tu cuenta</h5>
				</div>
				<form action="/login" class="formulario" id="formulario" method="POST">
					{% with messages = get_flashed_messages()[-1]%}

					{% if messages %}
					<br />
					<div>
						<strong style="color: #e41f1a;">{{ messages }}</strong>
					</div>
					{% endif %}
					{% endwith %}
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- Keep -->
					<!-- Grupo: Correo Electronico -->
					<div class="form-control">
						<label for="email">Email <label style="color: red;">*</label></label><br>
						<input type="email" name="email" id="email" placeholder="juanperez@gmail.com" />
						<i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i><br>
						<small>Error message</small>
					</div>
					<!-- Grupo: Contraseña -->
					<div class="form-control">
						<label for="password">Contraseña <label style="color: red;">*</label></label><br>
						<input type="password" name="password" id="password" placeholder="$1234567Abc" />
						<i class="fas fa-check-circle"></i>
						<i class="fas fa-exclamation-circle"></i><br>
						<small>Error message</small>
					</div>
					<a class="recuperacion" href="#" style="text-decoration: none">¿Olvidaste tu contraseña?</a>


					<button class="btn-form">Ingresar</button>
				</form>
				<!-- Grupo: Pregunta externa -->
				<div class="formulario__grupo formulario__grupo-btn-enviar">
					<div>
						<h1 class="pregunta"><img src="../static/img/iconos/raya.png" style="width: 15%;" alt="" />¿No tienes
							cuenta?<img src="../static/img/iconos/raya.png" style="width: 15%;" alt="" /></h1>
					</div>
					<a href="{{ url_for('register') }}"><button type="submit" class="btn-ingresar-extra">Registrate</button></a>
				</div>
			</div>
			<div class="repartidor">
				<img class="img-repartidor" src="../static/img/repartidores/Repartidor_2.png" alt="" />
			</div>
		</main>
		<footer class="footer">
			<div class="derechos">
				<div class="copyright">
					<span>&copy;2022 México. Todos los derechos reservados.</span>
				</div>
			</div>
			<div class="redes">
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
				</div>
			</div>
		</footer>
	</article>
	<script src="../static/js/validacionesIngresar.js"></script>
</body>

</html>