<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Definiciond el titulo -->
	<title>Sendiit- Inicio cliente</title>
	<!-- Favicon de la empresa -->
	<link href="../static/img/empresa/favicon.png" rel="icon" />
	<!-- Estilos -->
	<link rel="stylesheet" href="../static/css/main-principal.css" />
	<link rel="stylesheet" href="../static/css/InicioCliente.css" />
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	
	<!-- <link rel="stylesheet" href="../static/css/header-principal.css" />
	<link rel="stylesheet" href="../static/css/footer-principal.css" />
	<link rel="stylesheet" href="../static/css/main.css" /> -->
</head>

<body>
	<article>
		<header class="header">
			<!-- Logo de la empresa -->
			<div class="logo">
				<a href="/">
					<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
				</a>
			</div>
			<!-- Barra de navegacion dentro de la pagina -->
			<div class="secciones">
				<div class="nav-contenido">
					<a href="/">INICIO</a>
				</div>
				<div class="nav-contenido">
					<a href="/sucursales">SUCURSALES</a>
				</div>
				<div class="nav-contenido">
					<a href="/conocenos">CONÓCENOS</a>
				</div>
			</div>
			<!-- Botones de acciones del sistema -->
			<div class="botones">
				<div class="nav-botones">
					<a href="{{ url_for('formularioEnvio') }}" class="btn btn-enviar"><button>ENVIAR</button></a>
				</div>
				<div class="nav-botones">
					<a href="{{ url_for('agregarTarjeta') }}" class="btn btn-ingresar"><button>AGREGAR TARJETA</button></a>
				</div>
				<div class="nav-botones">
					<a href="{{ url_for('userTarjetas') }}" class="btn btn-registarse"><button>Administrar tarjetas</button></a>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="contenido">
				<div class="titulo-pagina">
					<img src="../static/img/empresa/logo.png" alt="" class="logo-encabezado" />
					<br /><br />
					<h3>Bienvenida</h3>
				</div>
				<div></div>
				<h1 class="texto">¡ BIENVENIDO !</h1>
				<h1 class="texto">{{ current_user.nombre }}</h1>
				<marquee behavior="scroll" direction="right" scrollamount="40">
					<img class="camion" src="../static/img/iconos/camion.png" width="30%" />
				</marquee>
				<div class="nav-botones">
					<a href="{{ url_for('logout') }}" class="btn-siguiente"><button>Cerrar sesión</button></a>
				</div>
			</div>
			<div class="img-repartidor">
				<div class="repartidor">
					<img src="../static/img/repartidores/Repartidor_6.png" alt="" />
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="derechos">
				<div class="copyright">
					<span>&copy;2022 México. Todos los derechos reservados.</span>
				</div>
			</div>
			<div class="redes">
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
				</div>
			</div>
		</footer>
	</article>
	<script>
		let pass = document.getElementById("passorigin");
		let pass_confirmation = document.getElementById("passconfirm");
		let warning = document.getElementById("warning");

		$("#passconfirm").on("change", function () {
			// console.log("entre")
			if (pass.value !== pass_confirmation.value) {
				warning.innerHTML = "Las contraseñas no coinciden";
				pass_confirmation.value = "";
			} else {
				warning.innerHTML = "";
			}
		});
	</script>
</body>

</html>