<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Nombre de la pagina -->
		<title>PLANTILLA</title>
		<!-- Favicon de la empresa -->
		<link href="../static/img/empresa/favicon.png" rel="icon" />
		<!-- Estilos -->
		<link rel="stylesheet" href="../static/css/OrdenGenerada.css" />
	</head>
	<body>
		<article>
			<header class="header">
				<!-- Logo de la empresa -->
				<div class="logo">
						<img src="../static/img/iconos/lockerheader.png" alt="Logo de la empresa" />
				</div>

				<div class="headersendit">
					<div class="logo1">
							<img src="../static/img/empresa/logo.png" alt="Logo de la empresa"/>
					</div>

					<div class="raya">
						<img src="..//static/img/iconos/raya.png" height="5px"/>
					</div>
					<div class="tituloForm">ORDEN GENERADA</div>
				</div>
				<div class="user">
					<div class="perfil"><i class="bi bi-person-circle"></i></div>
					<div class="campos-user">
						<div class="name-user">Ricardo Sánchez</div>
						<div class="btn-user">
							<div class="historial"><a href="#">Historial</a></div>
							<div class="pantalla-user"><a href="#">Rastrear Paquetes</a></div>
							<div class="cerrar-sesion"><a href="#">Cerrar Sesión</a></div>
						</div>
					</div>
				</div>
			</header>
			<main class="main">
				<div class="contenedor-izq">

					<div class="x"><img src="..//static/img/iconos/pdf.png"/></div>
					<div class="repartidor"><img src="..//static/img/repartidores/Repartidor_8.png"/></div>
                    


				</div>
                <div class="contenedor-der">
				<div class="orden"><img src="..//static/img/iconos/OrdenGenerada.png"/></div>
				<div class="botones">
					<a href="#" class="btn-mostrar"><button>Mostrar QR's</button></a>
				</div>
			    </div>


			</main>
			<footer class="footer">
				<div class="derechos">
					<div class="copyright">
						<span>&copy;2022 México. Todos los derechos reservados.</span>
					</div>
				</div>
				<div class="redes">
                    <div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
                    </div>
                    <div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
                    </div>
                    <div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
                    </div>
                    <div class="logo-red">
						<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
                    </div>
				</div>
			</footer>
		</article>
	</body>
</html>
