<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Nombre de la pagina -->
	<title>PAGO FRACASADO</title>
	<!-- Favicon de la empresa -->
	<link href="../static/img/empresa/favicon.png" rel="icon" />
	<!-- Estilos -->
	<link rel="stylesheet" href="../static/css/pagoRechazado.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
	<article>
		<header class="header">
			<!-- Logo de la empresa -->
			<div class="logo">
				<a href="{{ url_for('index') }}">
					<img src="../static/img/empresa/logo.png" alt="Logo de la empresa" />
				</a>
			</div>
			<div class="titulo-pagina">PAGO DECLINADO</div>
			<div class="user">
				<div class="perfil"><i class="bi bi-person-circle"></i></div>
				<div class="campos-user">
					<div class="name-user">{{ current_user.nombre }}</div>
					<div class="btn-user">
						<div class="pantalla-user"><a href="{{ url_for('homeCliente') }}">Inicio</a></div>
						<div class="pantalla-user"><a href="{{ url_for('clienteHistorial') }}">Historial</a></div>
						<div class="pantalla-user"><a href="{{ url_for('userRastrear') }}">Rastrear</a></div>
						<div class="cerrar-sesion"><a href="{{ url_for('logout') }}">Cerrar Sesión</a></div>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="contenedor-izq">

				<div class="icono"><i class="bi bi-x-circle"></i></i></div>
				<div class="texto1">
					<p class="texto1">¡Pago <b>Fracasado!</b></p>
				</div>
				<div>
					<p class="texto2">Algo <b>salió mal</b> no pudimos registrar tu <b>pago</b></p>
				</div>
				<div class="x">
					<h3 class="leyenda"><i> El pago fue rechazado debido a un error, falta de fondos o la tarjeta no existe, reintente nuevamente por favor. </i></h3>
				  </div>
				<div class="botones">
					<a href="{{ url_for('formularioEnvio') }}" class="btn-Reintentar"><button>Reintentar</button></a>
				</div>

			</div>
			<div class="repartidor">
				<img src="../static/img/repartidores/Repartidor_4.png" />
			</div>
		</main>
		<footer class="footer">
			<div class="derechos">
				<div class="copyright">
					<span>&copy;2022 México. Todos los derechos reservados.</span>
				</div>
			</div>
			<div class="redes">
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-facebook"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-instagram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-telegram"></i></a>
				</div>
				<div class="logo-red">
					<a href="#" class="btn red"><i class="bi bi-envelope-fill"></i></a>
				</div>
			</div>
		</footer>
	</article>
</body>

</html>