<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Titulo de pagina -->
    <title>CLIENTE - RASTREAR PAQUETE</title>
    <!-- Favicon de la empresa -->
    <link href="../static/img/empresa/favicon.png" rel="icon" />
    <!-- Estilos -->
    <link rel="stylesheet" href="../static/css/rastrearCliente.css" />
    <script src="https://kit.fontawesome.com/0daeb1a0d1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="./inicio">
                <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
            </a>
        </div>
        <div class="links">
            <div class="link-header">RASTREAR PAQUETE</div>
        </div>
        <div class="usuario">
            <div class="tarjeta">
                <div class="tarjeta-izq">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="tarjeta-der">
                    <div class="nombre-tarjeta">JUAN PÉREZ</div>
                    <div class="iconos-tarjeta">
                        <a href="./inicioCliente.html" class="elemento ">
                            <!-- <div class="contenido-elemento activo"> -->
                            <div class="contenido-elemento">
                                <i class="bi bi-house"></i>
                                <h6>Inicio</h6>
                            </div>
                        </a>
                        <h5>|</h5>
                        <a href="./infoCliente.html" class="elemento">
                            <div class="contenido-elemento">
                                <i class="bi bi-person-rolodex"></i>
                                <h6>Info. General</h6>
                            </div>
                        </a>
                        <h5>|</h5>
                        <a href="./rastreaPaquete.html" class="elemento activo">
                            <div class="contenido-elemento">
                                <i class="bi bi-geo-alt"></i>
                                <h6>Rastrear</h6>
                            </div>
                        </a>
                        <h5>|</h5>
                        <a href="./inicio.html" class="elemento">
                            <div class="contenido-elemento">
                                <i class="bi bi-box-arrow-in-left cerrar"></i>
                                <h6 class="cerrar">Salir</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main -->
    <main class="main">
        <section class="arriba">
            <div class="boton-regreso">
                <a href="./inicioCliente.html">
                    <i class="bi bi-arrow-left-circle"></i>
                    <span>Regresar</span>
                </a>
            </div>
            <div class="barra-busqueda">
                <form action="" id="formulario" class="formulario">
                    <div class="form-control">
                        <label for="Buscar">
                            <p>ID del paquete<label style="color: red;">*</label></p>
                        </label>
                        <input type="text" name="Buscar" id="Buscar" placeholder="Ejemplo: 2390783798"
                            class="texto-input" autocomplete="off" /><br>
                        <small></small>
                    </div>
                    <div class="boton-buscar">
                        <button type="submit" class="btn-form">BUSCAR</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="abajo">
            <div class="img-repartidor">
                <img src="../static/img/paquetes/rastrear.png" alt="Locker modelo" />
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="derechos">
            <div class="copyright">
                <span>&copy;2022 México. Todos los derechos reservados.</span>
            </div>
        </div>
        <div class="redes">
            <a href="#"><i class="red bi bi-facebook"></i></a>
            <a href="#"><i class="red bi bi-instagram"></i></a>
            <a href="#"><i class="red bi bi-telegram"></i></a>
            <a href="#"><i class="red bi bi-envelope-fill"></i></a>
        </div>
    </footer>
    <script src="../static/js/validaciones/rastrear.js"></script>
</body>

</html>