<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Titulo de pagina -->
    <title>SENDIIT - RASTREAR PAQUETE</title>
    <!-- Favicon de la empresa -->
    <link href="../static/img/empresa/favicon.png" rel="icon" />
    <!-- Estilos -->
    <link rel="stylesheet" href="../../static/css/rastrear.css" />
    <script src="https://kit.fontawesome.com/0daeb1a0d1.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
            </a>
        </div>
        <div class="links">
            <div class="link-header"><a href="{{ url_for('index') }}">Inicio</a></div>
            <div class="link-header"><a href="{{ url_for('sucursales') }}">Sucursales</a></div>
            <div class="link-header"><a href="{{ url_for('conocenos') }}">Conócenos</a></div>
        </div>
        <div class="botones">
            <a href="{{ url_for('formularioEnvio') }}" class="boton-header botonEnviar">Enviar</a>
            <a href="{{ url_for('login') }}" class="boton-header botonIngresar"> Ingresar </a>
            <a href="{{ url_for('register') }}" class="boton-header botonRegistrarse"> Registrar </a>
    </header>

    <!-- Main -->
    <main class="main">
        <section class="arriba">
            <div class="boton-regreso">
                {% if current_user.is_active %}
                <a href="{{ url_for('homeCliente') }}">
                {% else %}
                <a href="{{ url_for('index') }}">
                {% endif %}
                    <i class="bi bi-arrow-left-circle"></i>
                    <span>Regresar</span>
                </a>
            </div>
            <div class="barra-busqueda">
                <form action="{{url_for('userRastrear')}}" id="formulario" class="formulario" method="POST">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-control">
                        <label for="Buscar">
                            <p>ID del paquete<label style="color: red;">*</label></p>
                        </label>
                        <input type="text" name="Buscar" id="Buscar" placeholder="Ejemplo: 2390783798"
                            class="texto-input" autocomplete="off" /><br>
                        <small></small>
                    </div>
                    <div class="boton-buscar">
                        <button type="submit" class="btn-form" onclick="ruta()">BUSCAR</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="abajo">
            <div class="img-repartidor">
                <img src="../static/img/paquetes/rastrear.png" alt="Locker modelo" />
              </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="derechos">
            <div class="copyright">
                <span>&copy;2022 México. Todos los derechos reservados.</span>
            </div>
        </div>
        <div class="redes">
            <a href="#"><i class="red bi bi-facebook"></i></a>
            <a href="#"><i class="red bi bi-instagram"></i></a>
            <a href="#"><i class="red bi bi-telegram"></i></a>
            <a href="#"><i class="red bi bi-envelope-fill"></i></a>
        </div>
    </footer>
    <script src="../static/js/validaciones/rastrear.js"></script>
</body>

</html>