<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in - Beta</title>
</head>
<body>
    <form  action="registro" method="POST">
        {% with messages = get_flashed_messages() %}
    
        {% if messages %}
        <br />
        {% for message in messages %}
        <div >
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    
        {% endwith %}
        <h1 >Registrarse</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <input type="text" name="nombre" placeholder="Nombre">
            <label for="email">Nombre</label>
        </div>
        <div>
            <input type="text" name="email" placeholder="Username">
            <label for="email">Email</label>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div>
            <input type="text" name="telefono" placeholder="Username">
            <label for="email">Telefono</label>
        </div>
        <div>
            <input type="text" name="direccion" placeholder="Username">
            <label for="email">Direccion</label>
        </div>
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>