{% extends 'base-home.html' %}
{% block body_main %}
<div class="lindavista">
	<img class="Fotos" src="../static/img/principal/Lindavista.png" alt="Lindavista" />
	<h1>Lindavista</h1>
	<p class="textoL">Av. Montevideo 363, Lindavista Sur, Gustavo A. Madero, 07300 Ciudad de México, CDMX </p>
	<a href="/sucursales/lindavista" class="Maps"><button>Ver en Maps</button></a>
</div>

<div class="Valle">
	<img class="Fotos" src="../static/img/principal/Valle.png" alt="Valle" />
	<br>
	<h1>Colonia del Valle</h1>
	<p class="textoL">Mier y Pesado 317, código 2, Col del Valle Nte, Benito Juárez, 03100 Ciudad de México, CDMX</p>
	<div class="Maps">
		<a href="/sucursales/valle"><button>Ver en Maps</button></a>
	</div>
</div>

<div class="Satelite">
	<img class="Fotos" src="../static/img/principal/Satelite.png" alt="Satelite" />
	<br>
	<h1>Sátelite</h1>
	<p class="textoL">Cto Centro Comercial 2251, Cd. Satélite, 53100 Naucalpan de Juárez, Méx.</p>
	<a href="/sucursales/satelite" class="Maps"><button>Ver en Maps</button></a>
</div>

<div class="MultiplazaBosques">
	<img class="Fotos" src="../static/img/principal/Multiplaza.png" alt="Aragon" />
	<br>
	<h1>Villa de Aragón</h1>
	<p class="textoL">Av Central, Blvd, Villa Cacama, Bosques de Aragon, 57170 Nezahualcóyotl, Méx.</p>
	<a href="/sucursales/aragon" class="Maps"><button>Ver en Maps</button></a>
</div>
{% endblock %}