<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>ADMIN - LOCKERS</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/tablaLockers.css" />
  <script src="https://kit.fontawesome.com/0daeb1a0d1.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="logo">
      <a href="{{ url_for('index') }}">
        <img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
      </a>
    </div>
    <div class="links">
      <div class="link-header">SUCURSALES</div>
    </div>
    <div class="usuario">
      <div class="tarjeta">
        <div class="tarjeta-izq">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="tarjeta-der">
          <div class="nombre-tarjeta">{{ current_user.nombre }}</div>
          <div class="iconos-tarjeta">
            <a href="{{ url_for('admin') }}" class="elemento ">
              <div class="contenido-elemento activo">
                <i class="bi bi-house"></i>
                <!-- <h6>Inicio</h6> -->
                <h6>Catálogo</h6>
              </div>
            </a>
            <h5>|</h5>
            <!-- <a href="" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-clipboard-check"></i>
                <h6>Historial</h6>
              </div>
            </a>
            <h5>|</h5>
            <a href="" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-geo-alt"></i>
                <h6>Rastrear</h6>
              </div>
            </a>
            <h5>|</h5> -->
            <a href="{{ url_for('logout') }}" class="elemento">
              <div class="contenido-elemento">
                <i class="bi bi-box-arrow-in-left cerrar"></i>
                <h6 class="cerrar">Salir</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main -->
  <main class="main">
    <section class="arriba">
      <div class="boton-regreso">
        <a href="{{ url_for('admin') }}">
          <i class="bi bi-arrow-left-circle"></i>
          <span>Regresar</span>
        </a>
      </div>
      <div class="barra-busqueda">
        <div class="buscar">
          <form action="{{ url_for('lockers') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" placeholder="Buscar" id="myInput" name="dato_consulta">
            <button type="submit" class='fa-search lupa fas boton-buscar'></button>
          </form>
        </div>
      </div>
      <div class="logo-categoria">
        <a href="{{ url_for('lockers') }}" class="link-categoria">
          <img src="../static/img/categorias/lockers.png" alt="Categoria Clientes">
        </a>
      </div>
    </section>

    <section class="botones-main">
      <div class="agregar">
        <button onclick="abrirAgregar()" class="btn3 btn-ventana-agregar">AGREGAR SUCURSAL</button>
      </div>
    </section>
    {% with messages = get_flashed_messages()[-1]%}
    {% if messages %}
    <div class="info-message">
      {{ messages }}
    </div>
    {% endif %}
    {% endwith %}
    <section class="tabla">
      <table align="center" class="tablatest" id="myTable">
        <thead class="sticky">
          <tr>
            <th rowspan="2" class="ubicacion">UBICACIÓN</th>
            <th colspan="3" class="modelo">MODELO 13 PUERTAS</th>
            <th colspan="3" class="acciones">ACCIONES</th>
          <tr style="background-color: #f9d950;">
            <th class="tamanio">S</th>
            <th class="tamanio">M</th>
            <th class="tamanio">G</th>
            <th class="accion">ESTADO</th>
            <th class="accion">EDITAR</th>
            <th class="accion">ELIMINAR</th>
          </tr>
          </tr>
        </thead>
        <tbody>
          {% for locker in lockers %}
          <tr>
            <td class="nombre-ubicacion">{{ locker.ubicacion }}</td>
            <td>{{ locker.cantidadS }}</td>
            <td>{{ locker.cantidadM }}</td>
            <td>{{ locker.cantidadL }}</td>
            {% if locker.activo == 1%}
            <td>
              <button onclick="abrirEstado('{{ locker.id }}','{{ locker.activo }}')" class="btn-estado btn-ventana-estado">
                <img src="../static/img/Admin/acciones/estado.png" />
              </button>
            </td>
            {% else %}
            <td>
              <button onclick="abrirEstado('{{ locker.id }}', '{{ locker.activo }}')" class="btn-estado btn-ventana-estado"
                style="opacity: 0.5;">
                <img src="../static/img/Admin/acciones/estado.png" />
              </button>
            </td>
            {% endif %}
            <td>
              <button onclick="abrirEditar('{{ locker.id }}')" class="btn-editar btn-ventana-editar">
                <img src="../static/img/Admin/acciones/editar.png" />
              </button>
            </td>
            <td>
              <button onclick="abrirEliminar('{{ locker.id }}')" class="btn-eliminar btn-ventana-eliminar">
                <img src="../static/img/Admin/acciones/eliminar.png" />
              </button>
            </td>
          </tr>
          {% endfor %}
          {% if lockers == [] %}
          <tr><td colspan="11"></td></tr>
          <tr><td colspan="11"><p class="error-message">No se encontraron resultados</p></td></tr>
          {% endif %}
        </tbody>
      </table>
    </section>
  </main>

  <!-- Modal para agregar locker -->
  <dialog class="modal-btn-agregar" id="modal-btn">
    <center>
      <div class="contenido-modal">
        <div class="encabezado-modal"><button onclick="cerrarAgregar()" class="modal-btn-cerrar-agregar"><i
              class="bi bi-x-circle"></i></button></div>
        <div class="titulo-modal">
          <h2>¿Desea agregar una sucursal?</h2>
        </div>
        <div class="botones-modal">
          <a href="{{ url_for('lockersAgregar') }}"><button class="confirmar">Confirmar</button></a>
          <button onclick="cerrarAgregar()" class="cancelar">Cancelar</button>
        </div>
      </div>
    </center>
  </dialog>

  <!-- Modal para activar/desacrtivar -->
  <dialog class="modal-btn-estado" id="modal-btn">
    <center>
      <div class="contenido-modal">
        <div class="encabezado-modal"><button onclick="cerrarEstado()" class="modal-btn-cerrar-estado"><i
              class="bi bi-x-circle"></i></button></div>
        <div class="titulo-modal">
          <h2>¿Desea cambiar el estado de la sucursal?</h2>
        </div>
        <div class="botones-modal">
          <form action="{{ url_for('lockersModificarEstado') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="number" name="id" value="" id='estado_id' hidden>
            <input type="text" name="confirmed" value="" id='estado_confirmed' hidden>
            <button class="confirmar">Confirmar</button>
          </form>
          <button onclick="cerrarEstado()" class="cancelar">Cancelar</button>
        </div>
      </div>
    </center>
  </dialog>

  <!-- Modal para editar -->
  <dialog class="modal-btn-editar" id="modal-btn">
    <center>
      <div class="contenido-modal">
        <div class="encabezado-modal"><button onclick="cerrarEditar()" class="modal-btn-cerrar-editar"><i
              class="bi bi-x-circle"></i></button></div>
        <div class="titulo-modal">
          <h2>¿Desea editar la sucursal?</h2>
        </div>
        <div class="botones-modal">
          <form action="{{ url_for('lockersActualizar') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="number" name="id" value="" id='editar_id' hidden>
            <button class="confirmar">Confirmar</button>
          </form>
          <button onclick="cerrarEditar()" class="cancelar">Cancelar</button>
        </div>
      </div>
    </center>
  </dialog>

  <!-- Modal para eliminar -->
  <dialog class="modal-btn-eliminar" id="modal-btn">
    <center>
      <div class="contenido-modal">
        <div class="encabezado-modal"><button onclick="cerrarEliminar()" class="modal-btn-cerrar-eliminar"><i
              class="bi bi-x-circle"></i></button></div>
        <div class="titulo-modal">
          <h2>¿Desea eliminar la sucursal?</h2>
        </div>
        <div class="botones-modal">
          <form action="{{ url_for('lockersEliminar') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="number" name="id" value="" id='eliminar_id' hidden>
            <button class="confirmar">Confirmar</button>
          </form>
          <button onclick="cerrarEliminar()" class="cancelar">Cancelar</button>
        </div>
      </div>
    </center>
  </dialog>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>
  <script src="../static/js/ventanas/acciones.js"></script>
</body>

</html>