{% extends 'base-admin.html' %}
{% block body_main %}
<div class="titulo-formulario">
  <div class="img-catalogo"><img src="../static/img/iconos/locker.png" alt="MiniLocker" width="15%" height="15%" />
  </div>
  <div class="buscar">
    <span>
      <input type="text" placeholder="Buscar">
      <i class="fa-search btn2 fas"></i>
    </span>
  </div>
  <div class="agregar">
    <button onclick="abrirAgregar()" class="btn3 btn-ventana-agregar">AGREGAR LOCKER</button>
  </div>
</div>
<div class="datos-tabla">
  <table align="center">
    <thead>
      <!-- Encabezados de la tabla -->
      <tr>
        <th rowspan="2">Ubicación</th>
        <th colspan="3">Tamaños</th>
        <!-- <th>Disponibilidad</th> -->
        <!-- <th>Enviados</th> -->
        <!-- <th>Recibido</th> -->
        <th colspan="3">Acciones</th>
      <tr style="background-color: #f9d950; font-size: 13px;">
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </tr>
    </thead>
    <!-- Fila -->
    {% for locker in lockers %}
    <tr>
      <td>{{ locker.ubicacion }}</td>
      <td>{{ locker.cantidadS }}</td>
      <td>{{ locker.cantidadM }}</td>
      <td>{{ locker.cantidadL }}</td>
      
      <!-- <form action="/admin/lockers" method="GET"> -->
        {% if locker.activo == 1%}
        <td><button onclick="abrirEstado('{{locker.id}}')" class="btn-estado btn-ventana-estado ocultar"><img
              src="../static/img/iconos/checked.png" width="40" height="40" /></button></td>
        {% endif %}
        {% if locker.activo == 0%}
        <td><button onclick="abrirEstado('{{locker.id}}')" class="btn-estado btn-ventana-estado ocultar" style="opacity: 0.5"><img
              src="../static/img/iconos/checked.png" width="40" height="40" /></button></td>
        {% endif %}
      <!-- </form> -->
      
      <!-- <form action="/admin/lockers/actualizar" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  -->
        <!-- <input type="number" name="id" value="{{ locker.id }}" hidden> --> 
        <!-- <td><button onclick="abrirEditar()" class="btn-editar btn-ventana-editar"><img
          src="../static/img/iconos/edit.png" width="40" height="40" /></button></td> -->
        <!-- <td><a href="#"><button class="btn-editar btn-ventana-editar"><img
              src="../static/img/iconos/edit.png" width="40" height="40" /></button></a></td>
      </form> -->
      <td><a href="{{ url_for('lockersActualizar', id_locker = locker.id) }}"><button class="btn-editar btn-ventana-editar"><img
        src="../static/img/iconos/edit.png" width="40" height="40" /></button></a></td>
        
        <td>
          <button onclick="abrirEliminar('{{locker.id}}')" class="btn-eliminar btn-ventana-eliminar">
          <img src="../static/img/iconos/close.png" width="40" height="40" /></button>
        </td>
       
        <!-- <td><a href="{{ url_for('lockersEliminar', id_locker = locker.id) }}"></a><button class="btn-eliminar btn-ventana-eliminar"><img
          src="../static/img/iconos/close.png" width="40" height="40" /></button></a></td>
           -->
      <!-- <form action="/admin/lockers/eliminar" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="number" name="id" value="{{ locker.id }}" hidden>
        <td><button onclick="abrirEliminar()" class="btn-eliminar btn-ventana-eliminar"><img
              src="../static/img/iconos/close.png" width="40" height="40" /></button></td>
      </form> -->

    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}


{% block message_dialog %}
<dialog class="modal-btn-agregar" id="modal-btn">
  <center>
    <div class="contenido-modal">
      <div class="encabezado-modal"><button onclick="cerrarAgregar()" class="modal-btn-cerrar-agregar"><i
            class="bi bi-x-circle"></i></button></div>
      <div class="titulo-modal">
        <h2>¿Desea agregar un locker?</h2>
      </div>
      <div class="botones-modal">
        <form action="/admin/lockers/agregar" method="GET">
          <button class="confirmar">Confirmar</button>
        </form>
        <button class="cancelar">Cancelar</button>
      </div>
    </div>
  </center>
</dialog>

<!-- Modal para eliminar -->
<dialog class="modal-btn-eliminar" id="modal-btn">
  <center>
    <div class="contenido-modal">
      <div class="encabezado-modal"><button onclick="cerrarEliminar()" class="modal-btn-cerrar-eliminar"><i
            class="bi bi-x-circle"></i></button></div>
      <div class="titulo-modal">
        <h2>¿Desea eliminar el locker?</h2>
      </div>
      <!-- <div class="icono-modal"><i class="bi bi-check2-circle"></i></div> -->
      <div class="botones-modal">
        <form action="{{ url_for('lockersEliminar') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="number" name="id" value="" id='num_id' hidden>
          <button class="confirmar">Confirmar</button>
        </form>
        <button class=" cancelar" onclick="cerrarEliminar()">Cancelar</button>
        <!-- <a href="#"><button class="aceptar">Aceptar</button></a> -->
        <!-- <a href="#"><button class="intentar">Intentar de nuevo</button></a> -->
      </div>
    </div>
  </center>
</dialog>
<!-- End Modal eliminar -->
<!-- Modal para activar/desacrtivar -->
<dialog class="modal-btn-estado" id="modal-btn">
  <center>
    <div class="contenido-modal">
      <div class="encabezado-modal"><button onclick="cerrarEstado()" class="modal-btn-cerrar-estado"><i
            class="bi bi-x-circle"></i></button></div>
      <div class="titulo-modal">
        <h2>¿Desea cambiar el estado del locker?</h2>
      </div>
      <!-- <div class="icono-modal"><i class="bi bi-check2-circle"></i></div> -->
      <div class="botones-modal">
        <button class="cancelar" onclick="cerrarEstado()">Cancelar</button>

        <form action="{{ url_for('lockersModificarEstado') }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="number" name="id" value="" id='estado_id' hidden>
          <button class="confirmar">Confirmar</button>
        </form>
        <!-- <a href="#"><button class="aceptar">Aceptar</button></a> -->
        <!-- <a href="#"><button class="intentar">Intentar de nuevo</button></a> -->
      </div>
    </div>
  </center>
</dialog>
<!-- End Model -->
{% endblock %}

{% block scripting_zone %}
<script src="../static/js/Ventanas_TablaLockers.js"></script>
{% endblock %}