{% extends 'base-home.html' %}
{% block body_main %}
<!--Contenido-->
			<!-- <div class="texto">
				<div align="center"><img class="pequeña" src="../static/img/empresa/logo.png" /></div>
				<h1 class="titulovalidacion">ERROR: TOKEN DE ACTIVACION NO ENCONTRADO</h1>
				<br />
				<p class="textgeneral" align="left">Lo sentimos...</p>
				<br />
				<p class="textgeneral">
					Al parecer ha caducado el tiempo para activar tu cuenta o el token que ha ingresado no existe.
				</p>
				<br />
				<p class="textgeneral">Por favor verifica que la direccion del enlace sea correcta o de lo contrario realiza nuevamente el registro.</p>
				<br />
				<p class="textgeneral">:(</p>
			</div>
			<div class="imagenreperror">
				<img align="center" src="../static/img/repartidores/Repartidor_4.png" wight="668px" height="520px" />
			</div>
 -->


				<div class="texto">
					<div align="center">
						<img class="pequeña" src="../static/img/empresa/logo.png" />
					</div>
					<br>
					<!-- <h1 class="titulovalidacion">TOKEN DE ACTIVACION NO ENCONTRADO</h1>
					<br>
					<p class="textgeneral" align="left">Lo sentimos...</p>
					<p class="textgeneral">Al parecer ha caducado el tiempo para activar tu cuenta o el token que ha ingresado no existe.</p>
					<p class="textgeneral">Por favor verifica que la direccion del enlace sea correcta o de lo contrario realiza nuevamente el registro.</p>
					 -->
					 <h1 class="titulovalidacion">TOKEN DE ACTIVACION NO ENCONTRADO</h1>
					<br>
					<p class="textgeneral" align="left">Lo sentimos...</p>
					<p class="textgeneral">Al parecer ha caducado el tiempo para activar tu cuenta.</p>
					<p class="textgeneral">Por favor inica sesion para reenviar un token</p>
					
				<div class="imagenerror">
				<!-- <img src="../static/img/iconos/error.png" width="100" height="100"> -->
				</div>
                <!-- <a href="./registrar.html" class="btn2"><button>REGISTRARSE</button></a> -->
				</div>
				</div>
				<div class="imagenreperror">
					<img
						align="center"
						src="../static/img/repartidores/Repartidor_4.png"
						wight="668px"
						height="520px"
					/>
				</div>
{% endblock %}
