{% extends 'base-home.html' %}
{% block body_main %}
<!-- Contenido -->
<div class="texto">
	<div align="center">
		<img class="pequeña" src="../static/img/empresa/logo.png" />
	</div>
	<h1 class="titulovalidacion">VALIDACIÓN DE CORREO ELECTRÓNICO</h1>
	<br />

	<p class="textgeneral">
		{% with messages = get_flashed_messages()[-1]%}
		{% if messages %}	
		<strong style="color: #e41f1a;">{{ messages }}</strong>
	{% endif %}
	{% endwith %}
	</p>
	<p class="textgeneral">
		Hola {{ nombre }}, para continuar se requiere tu confirmación el correo electrónico: {{
		email}}
	</p>
	<br />
	<p class="textgeneral">
		Por favor revisa tus correos recibidos o spam y sigue las instrucciones
		enviadas.
	</p>
	<br />
	<div class="pregunta" aling="center">
		<img class="img" src="../static/img/iconos/raya.png" width="33%" style="margin-top: -50px; opacity: 0.5;" />
		<!-- <p>&nbsp;&nbsp;&nbsp;</p> -->
		<h1 class="textnuevo" style="text-decoration: none; color: rgb(100, 99, 99); font-size: smaller;">¿No ha llegado
			ningún correo?</h1>
		<p>&nbsp;&nbsp;&nbsp;</p>
		<img class="img" src="../static/img/iconos/raya.png" width="33%" style="margin-top: -50px; opacity: 0.5;" />
		<!-- <p>&nbsp;&nbsp;&nbsp;</p> -->
	</div>
	<form action="/resendEmail" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<input type="text" name="nombre" value="{{ nombre }}" hidden>
		<input type="text" name="email" value="{{ email }}" hidden>
		<div class="boton" aling="center">
			<!-- <a href="/resendEmail/{{ email }}?{{ nombre }}" class="btn-renviar"><button>ENVIAR DE NUEVO EL EMAIL</button></a> -->
			<a href="#" class="btn-renviar"><button>ENVIAR DE NUEVO EL EMAIL</button></a>
		</div>
	</form>
</div>
<div class="imagenrepemail">
	<img align="center" src="../static/img/repartidores/Repartidor_3.png" width="255" height="520" />
</div>
<br />
<br />
<br />
{% endblock %}