{% extends 'base-home.html' %}
{% block body_main %}
<!-- Contenido -->
<div class="texto">
	<div align="center">
		<img class="pequeña" src="../static/img/empresa/logo.png" />
	</div>
	<h1 class="titulovalidacion">VALIDACIÓN DE CORREO ELECTRÓNICO</h1>
	<br />
	<p class="textgeneral">
		Hola {{ nombre }}, para continuar se requiere tu confirmacion el correo electrónico: {{
		email}}
	</p>
	<br />
	<p class="textgeneral">
		Por favor revisa tus correos recibidos o spam y sigue las instrucciones
		enviadas.
	</p>
	<br />
	<div class="nuevo" align="center">
		<img class="imgn" src="../static/img/iconos/raya.png" width="30%" style="margin-top: -30px" />
		<p>&nbsp;&nbsp;&nbsp;</p>
		<a href="#" style="text-decoration: none; color: rgb(100, 99, 99)">No ha llegado ningun correo</a>
		<p>&nbsp;&nbsp;&nbsp;</p>
		<img class="imgn" src="../static/img/iconos/raya.png" width="30%" style="margin-top: -30px" />
	</div>
</div>
<div class="imagenrepemail">
	<img align="center" src="../static/img/repartidores/Repartidor_3.png" width="255" height="520" />
</div>
<br />
<br />
<br />
{% endblock %}