<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Titulo de pagina -->
  <title>SENDIIT - VALIDACIÓN E-MAIL</title>
  <!-- Favicon de la empresa -->
  <link href="../static/img/empresa/favicon.png" rel="icon" />
  <!-- Estilos -->
  <link rel="stylesheet" href="../static/css/validacionCorreoRecuperar.css" />
</head>

<body>
  <!-- Header -->
  <header class="header">
		<div class="logo">
			<a href="{{ url_for('index') }}">
				<img src="../static/img/empresa/logo.png" alt="Logo" class="logo-header" />
			</a>
		</div>
		<div class="links">
			<div class="link-header"><a href="{{ url_for('index') }}">Inicio</a></div>
			<div class="link-header"><a href="{{ url_for('sucursales') }}">Sucursales</a></div>
			<div class="link-header"><a href="{{ url_for('conocenos') }}">Conócenos</a></div>
		</div>
		<div class="botones">
			<a href="{{ url_for('formularioEnvio') }}" class="boton-header botonEnviar">Enviar</a>
			<a href="{{ url_for('login') }}" class="boton-header botonIngresar"> Ingresar </a>
			<a href="{{ url_for('register') }}" class="boton-header botonRegistrarse"> Registrar </a>
	</header>

  <!-- Main -->
  <main class="main">
    <section class="izq">
      <div class="titulo-logo">
        <img src="../static/img/empresa/logo.png" alt="Logo empresa" />
      </div>

      <div class="titulo-pagina">
        <h1>Validación de correo electrónico para recuperar contraseña</h1>
      </div>

      <div class="contenido">
        <p class="textgeneral">
					{% with messages = get_flashed_messages()[-1]%}
					{% if messages %}
					<strong style="color: #e41f1a;">{{ messages }}</strong>
					{% endif %}
					{% endwith %}
				</p>
        <p class="textgeneral">
          Hola, se  te ha enviado un correo electrónico a <b>{{ email }}</b> con instrucciones para continuar con el proceso de recuperación de contraseña. 
        </p>
        <br>
        <p class="textgeneral">
          Favor de revisar tus correos recibidos o spam.
        </p>
        <br><br>
      </div>

      <!-- Grupo: Pregunta externa -->
      <div class="pregunta">
        <h6 class="pregunta"><img src="../static/img/iconos/raya.png" style="width: 15%;" alt="" />¿No ha
          llegado ningun correo?<img src="../static/img/iconos/raya.png" style="width: 15%;" alt="" /></h6>
      </div>

      <!-- Grupo: Boton ingresar -->
      <form action="{{ url_for('resend_email_recuperacion') }}" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<input type="text" name="email" value="{{ email }}" hidden>
				<div class="boton" aling="center">
					<button type="submit" class="btn-form">ENVIAR DE NUEVO</button>
				</div>
			</form>
      
    </section>
    <section class="der">
      <div class="img-repartidor">
        <img src="../static/img/repartidores/Repartidor_3.png" alt="Repartidor con cajas" />
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="derechos">
      <div class="copyright">
        <span>&copy;2022 México. Todos los derechos reservados.</span>
      </div>
    </div>
    <div class="redes">
      <a href="#"><i class="red bi bi-facebook"></i></a>
      <a href="#"><i class="red bi bi-instagram"></i></a>
      <a href="#"><i class="red bi bi-telegram"></i></a>
      <a href="#"><i class="red bi bi-envelope-fill"></i></a>
    </div>
  </footer>
</body>

</html>