
/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: grid;
	grid-template-columns: 60% 40%;
	text-align: center;
	height: 90%;
	background: #fff;
}

/* .main div:hover {
	border: 1px solid red;
} */

.main .contenido {
	display: grid;
	grid-template-rows: 20% 60% 20%;
	text-align: center;
	place-content: center;
	align-items: center;
}

.main .img-lateral {
	display: grid;
	place-content: center;
	text-align: center;
}

.titulo-formulario {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	place-content: center;
	align-items: center;
}

.botones-formulario {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	place-content: center;
	align-items: center;
}

.main .locker {
	width: 250px;
	height: 430px;
	margin: auto;
}

.main .Texto3 {
	color: #4e519b;
	font-family: "Oswald", sans-serif bold;
	font-size: 170%;
	letter-spacing: 2px;
}

.tituloAgregar {
	color: #f9d950;
	font-size: 40px;
}

.datos-locker {
	display: grid;
	grid-template-rows: repeat(8, 0.3fr);
	text-align: center;
	place-content: center;
	align-items: center;
}

.texto {
	text-align: left;
	margin-left: -10px;
	font-size: medium;
}

small {
	color: red;
}

.btn-cancelar button {
	font-weight: bolder;
	font-size: large;
	width: 150px;
	color: white;
	background: #e41f1a;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.btn-confirmar button {
	font-weight: bolder;
	font-size: large;
	width: 150px;
	color: white;
	background: green;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.btn-confirmar button:hover,
.btn-cancelar button:hover {
	transform: scale(1.1);
}

input {
	height: 30px;
	width: 400px;
	border-radius: 8px;
	border: 1px solid #000;
}
