/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
	box-sizing: border-box;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	margin-left: 10%;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

.link-header {
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	color: #f3ba00;
	letter-spacing: calc(0.08rem);
	font-size: calc(2vw);
	font-style: italic;
}

.usuario {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(60vh);
	height: calc(8vh);
	background: rgb(255, 243, 212);
	border: calc(0.8vh) solid rgb(16, 73, 158);
	border-radius: calc(3vh);
}

.tarjeta-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(8vh);
	font-size: calc(6vh);
	margin-bottom: calc(2%);
	color: rgb(16, 73, 158);
}

.tarjeta-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: calc(7vh);
}

.nombre-tarjeta {
	height: 50%;
	width: 100%;
	font-size: calc(2vh);
	letter-spacing: calc(0.1rem);
	font-style: italic;
	color: rgb(16, 73, 158);
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 70%;
	font-size: calc(2.5vh);
	margin-bottom: 1%;
}

.elemento div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
	width: auto;
	padding-left: 3%;
	padding-right: 3%;
}

.contenido-elemento h6 {
	font-size: calc(1.5vh);
}

h5 {
	color: rgb(151, 151, 151);
}

.cerrar {
	color: #e41f1a;
}

.activo {
	z-index: 1;
	background-color: rgba(0, 163, 238, 0.331);
	border-radius: 10px;
	padding: calc(0.05rem) calc(0.1rem);
	box-shadow: calc(1px) 1px 1px rgb(16, 73, 158);
	margin-right: 2%;
	margin-left: 2%;
}

.activo i,
.activo h6 {
	color: #000;
	letter-spacing: calc(0.02rem);
}

.activo h6 {
	margin-left: 10%;
}

.activo i {
	margin-right: -3%;
}

.elemento:hover {
	cursor: pointer;
	transition: all 0.1s;
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 10vh - 6vh);
}

.central {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(170vh);
	height: calc(80vh);
}

.contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(85vh);
	height: calc(60vh);
	padding: calc(1vh);
	margin-top: 5%;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
	width: calc(50vh);
	position: relative;
	color: #fff;
	transition: 0.3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: calc(3vh);
	border-radius: calc(3vh);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	border: 1px solid black;
	width: calc(50vh);
	height: calc(30vh);
	background: url(../img/tarjeta/fondos/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	display: flex;
	justify-content: end;
	align-items: center;
	text-align: right;
}

.delantera .logo-marca img {
	width: calc(7vh);
	height: calc(4vh);
	/* object-fit: cover; */
	/* max-width: 80px; */
}

.delantera .chip {
	width: calc(5vh);
	height: calc(4vh);
	/* margin-bottom: calc(4vh); */
}

.delantera .grupo .label {
	font-size: calc(2.5vh);
	color: #7d8994;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: calc(2vh);
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	width: calc(50vh);
	height: calc(30vh);
	background: url(../img/tarjeta/fondos/bg-tarjeta-02.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: calc(5vh);
	background: #000;
	width: 100%;
	position: absolute;
	top: 10%;
	left: 0;
}

.trasera .datos {
	margin-top: 20%;
	display: flex;
	justify-content: space-between;
	font-size: calc(2vh);
}

.trasera .datos #firma {
	width: calc(50vh);
}

.trasera .datos #firma .firma {
	height: calc(4vh);
	background: repeating-linear-gradient(rgb(178, 233, 255) 0, rgb(212, 243, 255) 5px, rgb(255, 228, 179) 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	top: 20%;
	font-family: "Liu Jian Mao Cao", cursive;
	color: #000;
	font-size: calc(2.5vh);
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	font-size: calc(2.5vh);
	background: #fff;
	height: calc(4vh);
	color: #000;
	text-align: center;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(30vh);
}

.contenedor-btn .btn-abrir-formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: calc(12vh);
	height: calc(5vh);
	font-size: calc(2vh);
	background: #ffd724;
	color: #e41f1a;
	position: relative;
	top: -50%;
	z-index: 10;
	border-radius: calc(2vh);
	transition: all 0.2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn a{
	text-decoration: none;
}

.contenedor-btn .salir {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: calc(12vh);
	height: calc(5vh);
	font-size: calc(2vh);
	background: #e41f1a;
	color: #ffffff;
	position: relative;
	top: -50%;
	z-index: 10;
	border-radius: calc(2vh);
	transition: all 0.2s ease;
	border: none;
	cursor: pointer;
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.08);
	width: calc(70vh);
	height: calc(60vh);
	padding: calc(15vh) calc(2.5vh) calc(2.5vh) calc(2.5vh);
	border-radius: calc(2vh);
	position: relative;
	line-height: calc(3vh);
	top: -20%;
	z-index: 10;
	transition: clip-path 0.3s ease-out;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	font-size: calc(2vh);
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: calc(0.5vh) solid #ced6e0;
	font-size: calc(2vh);
	height: calc(4vh);
	/* width: calc(40vh); */
	transition: 0.3s ease all;
	border-radius: calc(1.5vh);
	margin-top: -5%;
}

.flexbox .chicos input,
.flexbox .chicos select {
	justify-content: space-between;
	border: calc(0.5vh) solid #ced6e0;
	font-size: calc(2vh);
	height: calc(4vh);
	/* width: calc(50vh); */
	transition: 0.3s ease all;
	border-radius: calc(1.5vh);
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: calc(0.8vh) solid #93bded;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4, 4, 4);
	box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	position: relative;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #ced6e0;
	transition: 0.3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	width: 100px;
	padding: 10px;
	font-size: 22px;
	color: rgb(41, 41, 41);
	background: #fae380;
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #ffd724;
	transition: all 0.8s;
	transform: scale(1.1);
}


/* Validaciones */

.form-control.success input, 
.form-control.success select {
	border-color: #2ecc71;
}

.form-control.error input,
.form-control.error select{
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	visibility: hidden;
	left: 0;
	top: 10%;
}

.form-control.error small {
	visibility: visible;
	font-size: calc(1.4vh);
	line-height: calc(0.1vh);
}

.info-message{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px 10px 30px;
	margin: 0px 0px 10px 0px;
	min-width: 50vh;
	max-width: 120;
	background-color: rgb(220, 255, 255);
	border-radius: 5px;
	border: 1px solid rgba(75, 209, 203, 0.2);
	color: rgb(52, 131, 127);
}

.error-message{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px 10px 30px;
	margin: 0px 0px 10px 0px;
	min-width: 50vh;
	max-width: 120;
	background-color: rgb(255, 201, 201);
	border-radius: 5px;
	border: 1px solid rgba(209, 75, 75, 0.2);
	color: rgb(131, 52, 52);
}
/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
