/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Oswald", sans-serif;
}

article {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
	align-items: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	display: grid;
	grid-template-columns: 15% 45% 40%;
	grid-template-rows: 100%;
	text-align: center;
	align-items: center;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	/* border: solid 1px red; */
}

.header div {
	/* border: solid 1px red; */
	background: #fff;
	height: 1fr;
}

.header .logo {
	display: grid;
	place-content: center;
	cursor: pointer;
}
.header .nav-contenido .Titulo {
	display: grid;
	align-items: center;
	place-content: center;
	color: #e41f1a;
	text-transform: uppercase;
	font-style: italic;
}

.header .logo img {
	height: 85%;
	width: 85%;
	transition: all 0.5s;
	/* border: solid 1px red; */
}

.header .logo img:hover {
	transform: scale(1.1);
}

.header .botones {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100%;
}

.header .secciones{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

.header .secciones a,
.header .botones a {
	text-decoration: none;
	color: #e41f1a;
	font-size: x-large;
	/* border: solid 1px red; */
}

.header .secciones .nav-contenido,
.header .botones .nav-botones {
	display: grid;
	place-content: center;
}

.header .secciones .nav-contenido a:hover {
	color: #e41f1a;
	transform: scale(1.1);
}

.header .botones .btn button {
	display: grid;
	color: white;
	background: #212e46;
	padding: 10px 10px;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.5s ease 0s;
	font-size: large;
	margin-left: auto;
}

.header .botones .btn-imgAdmin img {
	display: grid;
	place-content: center;
	height: 50px;
}

.header .botones .btn-imgAdmin img:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.header .botones .btn-administrador button {
	background-color: #f9d950;
	color: #e41f1a;
}

.header .botones .btn-cerrarsesion button {
	background-color: #212e46;
	color: #fff;
}

.header .botones .btn button:hover {
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

/* Estilos con columnas del cuestionario */
.main {
	display: grid;
	grid-template-rows: 20% 80%;
	text-align: center;
	height: 90%;
    
}

/* .main div:hover {
	border: 1px solid red;
} */

.main .contenido {
	display: grid;
	grid-template-rows: 80% 20%;
	text-align: center;
	place-content: center;
	align-items: center;

}

.titulo-formulario {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
	place-content: center;
	align-items: center;
	height: 100px;
}

.datos-tabla {
	display: grid;
	grid-template-columns: 100%;
	text-align: center;
	place-content: center;
	align-items: center;;
}

.main .titulo-formulario{
	display: grid;
	text-align: center;
	place-content: center;
	align-items: center;
}

.tabla {
	float: left;
}

table {
	text-align: center;
	border-collapse: collapse;
	width: 80%;
}

th,
td {
	padding: 10px;
}

thead {
	background-color: #f9d950;
	border-bottom: solid 5px #212e46;
	color: #212e46;
}

tr:nth-child(even) {
	background-color: #ddd;
}

.buscar input {
	width: 340px;
	height: 40px;
	padding: 0 20px;
	font-size: 18px;
	color: #000;
	outline: none;
	border: 1px solid silver;
	border-radius: 15px;
	margin-left: -250px;

}

.btn2 {
	position: absolute;
	background: #212e46;
	width: 45px;
	height: 45px;
	line-height: 45px !important;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;	
	margin-left: -40px;

}


.check {
	width: 40px;
	height: 40px;
}
.registrados {
    width: 400px;

}

.registrados .btn3{
	font-weight: 760;
	color: #e41f1a;
	background: #f9d950;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 3px 3px #212e46;
}

.registrados .btn3:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.registrados .btn3 button:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.5s ease 0s;
}
.altas {
width: 200px;
float: right;

}

.altas .btn3{
	font-weight: 760;
	color: #e41f1a;
	background: #f9d950;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 3px 3px #212e46;
}

.altas .btn3:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.altas .btn3 button:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.btn-alta,
.btn-rechazar{
	background: none;
	border: none;
}

/* Modal */

dialog{
	background: #fff;
}

.encabezado-modal {
	border-radius: 10px;
	height: 30px;
	text-align: end;
}

.encabezado-modal button {
	height: 30px;
	color: #e41f1a;
	font-size: 30px;
	border: none;
	background: none;
}

.encabezado-modal button:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.titulo-modal {
	/* margin-top: -20%; */
	color: #ffc800;
	font-size: 150%;
	font-style: italic;
	height: auto;
}

.icono-modal {
	margin-top: -5%;
	color: #009d03;
	font-size: 100px;
	font-style: italic;
}

.texto-modal {
	color: #212e46;
	font-size: 20px;
	font-style: italic;
}

#modal-btn::backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}

#modal-btn {
	border-radius: 30px;
	max-width: 100ch;
}

.botones-modal button {
	padding: 10px 30px;
	text-align: center;
	justify-content: center;
	margin: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.botones-modal button:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.confirmar,.intentar, .aceptar{
	background-color: #3dbc56;
}
.cancelar{
	background-color: #e76c3c;
}

.img-catalogo{
	z-index: -100;
}

/************************************************************************************
                                        Footer
************************************************************************************/

.footer {
	display: grid;
	grid-template-columns:50% 50%;
	grid-template-rows: 100%;
	text-align: center;
	align-items: center;
	/* border: solid 1px red; */
	color: #fff;
}

.footer div {
	/* border: solid 1px red; */
	background: #212e46;
	height: 100%;
}

.footer .redes {
	display: grid;
	grid-template-columns: repeat(4, 0.1fr);
	grid-template-rows: 100%;
}

.footer a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 150%;
	/* border: solid 1px red; */
}

.footer .derechos,
.footer .redes .logo-red {
	display: grid;
	place-content: center;
}

.footer .derechos .copyright {
	font-size: 80%;
}
