
/************************************************************************************
                                        Main
************************************************************************************/

/* Estilos con columnas del cuestionario */

.main {
	display: grid;
	grid-template-columns: 60% 40%;
	text-align: center;
}

.contenido {
	z-index: 100;
	flex-direction: column;
    display: grid;
	place-content: center;
	/* border-radi  us: 20px; */
}

.main div {
	background: #fff;
}

/* .main div:hover{
    border: 1px solid red;
} */

.main .titulo-pagina {
	grid-column: 1/2;
}

.main .titulo-pagina img {
	height: 80px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: auto;
}

.main h1 {
	color: #f5cc16;
	margin-top: 25px;
}

.main h3 {
	color: #212e46;
	margin-top: -20px;
}

.btn-siguiente button {
	font-weight: 700;
	background-color: #f9da50d4;
	color: #212e46;
	padding: 10px 30px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-left: 270px;
}

.btn-siguiente button:hover {
	transition: all 0.5s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px #e41f1a;
	
}

.main .img-repartidor .repartidor img {
	width: 530px;
	height: 600px;
}

marquee{
	width: 130%;
}

