

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	height: 90%;
}

.main .TextoConocenos{
	margin-top: 60px;
    padding-top: 100px;
    margin-left: 80px;
	/* font-weight: normal; */
    font-family: "Oswald", sans-serif;
}
.main .TextoConocenos .titulo{
    color: #e41f1a;
    text-align: center;
    font-size: 300%;
}
.main .TextoConocenos .conocenos{
    color: #000;
    text-align: justify;
    font-size: 180%;
}
.main .ImagenConocenos{
    width: 550px;
    height: 600px;
    margin-top: 30px;
}
.main .h1{
	text-align: center;
}
