/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	margin-left: 10%;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

.link-header {
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	color: #e41f1a;
	letter-spacing: calc(0.08rem);
	font-size: calc(2vw);
	font-style: italic;
}

.usuario {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(60vh);
	height: calc(8vh);
	background: rgb(255, 243, 212);
	border: calc(0.8vh) solid rgb(16, 73, 158);
	border-radius: calc(3vh);
}

.tarjeta-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(8vh);
	font-size: calc(6vh);
	margin-bottom: calc(2%);
	color: rgb(16, 73, 158);
}

.tarjeta-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: calc(7vh);
}

.nombre-tarjeta {
	height: 50%;
	width: 100%;
	font-size: calc(2vh);
	letter-spacing: calc(0.1rem);
	font-style: italic;
	color: rgb(16, 73, 158);
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 70%;
	font-size: calc(2.5vh);
	margin-bottom: 1%;
}

.elemento div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
	width: auto;
	padding-left: 3%;
	padding-right: 3%;
}

.contenido-elemento h6 {
	font-size: calc(1.5vh);
}

h5 {
	color: rgb(151, 151, 151);
}

.cerrar {
	color: #e41f1a;
}

.activo {
	z-index: 1;
	background-color: rgba(0, 163, 238, 0.331);
	border-radius: 10px;
	padding: calc(0.05rem) calc(0.1rem);
	box-shadow: calc(1px) 1px 1px rgb(16, 73, 158);
	margin-right: 2%;
	margin-left: 2%;
}

.activo i,
.activo h6 {
	color: #000;
	letter-spacing: calc(0.02rem);
}

.activo h6 {
	margin-left: 10%;
}

.activo i {
	margin-right: -3%;
}

.elemento:hover {
	cursor: pointer;
	transition: all 0.1s;
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	width: 100%;
	height: calc(100vh - 10vh - 6vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.izq {
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* margin-left: 10%; */
	padding: 10% -1%;
	height: calc(75vh);
	width: calc(40%);
	border-radius: calc(5vh);
	background: rgb(250, 250, 250);
	box-shadow: 1px 5px 10px #bebebe;
}

.der {
	margin-left: 10%;
	width: 30%;
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-logo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: calc(15vh);
	width: 100%;
	margin-top: 1%;
}

.titulo-logo img {
	height: calc(10vh);
	border-radius: 50%;
}

.titulo-pagina {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(5vh);
	color: #e4c01d;
	font-size: calc(2.5vh);
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	/* margin-top: 5%; */
	width: 100%;
}

.contenido {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(55vh);
	/* margin: 0% 10%; */
	font-size: calc(2.1vh);
	flex-direction: column;
	width: 100%;
}

.campos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(35vh);
	width: calc(83vh);
	/* margin-top: 12%; */
}

.texto-input {
	justify-content: center;
	align-items: center;
	width: calc(45vh);
	height: calc(2vh);
	font-size: calc(1.5vh);
	border: calc(0.5vh) solid silver;
	border-radius: calc(2vh);
}


.botones {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: calc(15vh);
	width: calc(80vh);
	margin: auto;
}

.btn-form {
	width: max-content;
	position: relative;
	display: inline-block;
	padding: calc(2vh) calc(5vh);
	text-align: center;
	font-size: calc(2vh);
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: none;
	background-color: rgb(0, 106, 6);
	border-radius: calc(2vh);
	box-shadow: 2px 2px 2px #787878;
}

.cancelar {
	background: #e41f1a;
	color: #fff;
}

.btn-form:hover {
	transition: all 0.8s;
	transform: scale(1.2);
	box-shadow: 5px 5px 5px hsl(49, 93%, 0.3);
}

.img-repartidor img {
	height: calc(55vh);
}

/* Validaciones */

.formulario__mensaje-exito-activo {
	display: block;
}

.form-control p {
	/* display: inline-block; */
	font-size: calc(2vh);
	font-weight: 600;
	cursor: pointer;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input{
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	visibility: hidden;
	left: 0;
	top: 10%;
}

.form-control.error small {
	visibility: visible;
	font-size: calc(1.5vh);
}

.noEditar {
	justify-content: center;
	align-items: center;
	width: calc(45vh);
	height: calc(2vh);
	font-size: calc(1.8vh);
	border: none;
	border-radius: calc(2vh);
	font-style: italic;
	color: #777;
	background-color: none;
}

/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
