/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	margin-left: 10%;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

.link-header {
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	color: #f3ba00;
	letter-spacing: calc(0.08rem);
	font-size: calc(2vw);
	font-style: italic;
}

.usuario {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(60vh);
	height: calc(8vh);
	background: rgb(255, 243, 212);
	border: calc(0.8vh) solid rgb(16, 73, 158);
	border-radius: calc(3vh);
}

.tarjeta-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(8vh);
	font-size: calc(6vh);
	margin-bottom: calc(2%);
	color: rgb(16, 73, 158);
}

.tarjeta-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: calc(7vh);
}

.nombre-tarjeta {
	height: 50%;
	width: 100%;
	font-size: calc(2vh);
	letter-spacing: calc(0.1rem);
	font-style: italic;
	color: rgb(16, 73, 158);
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 30%;
	font-size: calc(2vh);
}

.elemento div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	font-size: calc(3vh);
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento {
	text-decoration: none;
	display: flex;
	justify-content: center;
	letter-spacing: calc(0.1vh);
	align-items: center;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento div:first-child {
	padding-right: 1.5vh;
}

.elemento div:first-child {
	padding-left: 1.5vh;
}

.contenido-elemento h6 {
	font-size: calc(1.3vh);
}

h5 {
	color: rgb(151, 151, 151);
}

.cerrar {
	color: #e41f1a;
}

.activo {
	z-index: 1;
	background-color: rgba(0, 163, 238, 0.331);
	border-radius: calc(2vh);
}

.activo i,
.activo h6 {
	color: #000;
}

.activo h6 {
	margin-left: calc(1vh);
}

.elemento:hover {
	cursor: pointer;
	transition: all 0.1s;
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - 10vh - 6vh);
}

.trayecto{
	display: flex;
	justify-content: center;
	align-items: start;
	width: calc(100vh);
	height: calc(15vh);
}

.arriba {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(170vh);
	height: calc(15vh);
}

.central {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(150vh);
	height: calc(15vh);
}

.abajo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(170vh);
	height: calc(15vh);
}

.boton-regresar{
	display: flex;
	justify-content: center;
	align-items: end;
	width: calc(100vh);
	height: calc(10vh);
	margin-top: 3%;
}

.img-trayecto{
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(20vh);
	height: calc(9vh);
}

.img-trayecto img{
	height: calc(12vh);
}

.texto-trayecto{
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(80vh);
	height: calc(9vh);
	color: #212e46;
	font-size: calc(4vh);
}

.sec-contenido{
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
	height: calc(15vh);
	width: calc(20%);
}

.sec-contenido img{
	height: calc(18vh);
}

.campo-texto{
	color: #212e46;
	font-size: calc(3vh);
}


.progreso-contenedor{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* max-width: 100%	; */
    width: calc(150vh);
}


.progreso-contenedor::before {
    content: '';
    background-color: #67686a;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: calc(2.5vh);
    width: calc(150vh);
    z-index: -1;
    transition: 0.4s ease;
	border-radius: calc(20vh);
}

.progreso {
    background-color: rgb(8, 125, 0);
    position: absolute;
    top: 50%;
    left: -1;
    transform: translateY(-50%);
    height: calc(2vh);
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.progresoRojo {
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 50%;
    left: -1;
    transform: translateY(-50%);
    height: calc(2vh);
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.progresoVerde {
    background-color: rgb(8, 125, 0);
    position: absolute;
    top: 50%;
    left: -1;
    transform: translateY(-50%);
    height: calc(2vh);
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}


.circulo{
    background-color: #67686a;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    height: calc(10vh);
    width: calc(10vh);    
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.4s ease;
	font-size: calc(4vh);
}

.circulo.active{
	background-color: rgb(8, 125, 0);
}

.circulo.noEntrego{
	background-color: red;
}

.noRecogio{
	color: red;
	width: 80%;
}

.arriba .sec-contenido{
	align-items: end;
}

.abajo .sec-contenido{
	align-items: start;
}

.btn{
	background-color: rgb(8, 125, 0);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: calc(20vh);
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: #212e46;
    cursor: not-allowed;
}


.boton-regreso {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(30%);
	height: calc(90%);
	margin-left: 8%;
}

.boton-regreso a {
	height: max-content;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.2s;
	padding: calc(1.5vh) calc(2.0vh);
	border-radius: calc(3.5vh);
	background: #212e46;
	display: flex;
	align-items: center;
	font-size: calc(3vh);
	box-shadow: 5px 5px 3px rgb(174, 174, 174);
}

.boton-regreso a > i {
	width: calc(5vh);
}

.boton-regreso a:hover {
	transition: transform 0.5s ease-in-out;
	transform: scale(1.1);
}

/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
