/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	margin-left: 10%;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

.link-header {
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	color: #f3ba00;
	letter-spacing: calc(0.08rem);
	font-size: calc(2vw);
	font-style: italic;
}

.usuario {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(60vh);
	height: calc(8vh);
	background: rgb(255, 243, 212);
	border: calc(0.8vh) solid rgb(16, 73, 158);
	border-radius: calc(3vh);
}

.tarjeta-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(8vh);
	font-size: calc(6vh);
	margin-bottom: calc(2%);
	color: rgb(16, 73, 158);
}

.tarjeta-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: calc(7vh);
}

.nombre-tarjeta {
	height: 50%;
	width: 100%;
	font-size: calc(2vh);
	letter-spacing: calc(0.1rem);
	font-style: italic;
	color: rgb(16, 73, 158);
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 70%;
	font-size: calc(2.5vh);
	margin-bottom: 1%;
}

.elemento div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
	width: auto;
	padding-left: 3%;
	padding-right: 3%;
}

.contenido-elemento h6 {
	font-size: calc(1.5vh);
}

h5 {
	color: rgb(151, 151, 151);
}

.cerrar {
	color: #e41f1a;
}

.activo {
	z-index: 1;
	background-color: rgba(0, 163, 238, 0.331);
	border-radius: 10px;
	padding: calc(0.05rem) calc(0.1rem);
	box-shadow: calc(1px) 1px 1px rgb(16, 73, 158);
	margin-right: 2%;
	margin-left: 2%;
}

.activo i,
.activo h6 {
	color: #000;
	letter-spacing: calc(0.02rem);
}

.activo h6 {
	margin-left: 10%;
}

.activo i {
	margin-right: -3%;
}

.elemento:hover {
	cursor: pointer;
	transition: all 0.1s;
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	margin: auto;
	height: calc(100vh - 10vh - 6vh);
	/* border: 1px solid red; */
}

.central {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(150vh);
	height: calc(80vh);
	/* border: 1px solid blue; */
}

.boton-regreso {
	display: flex;
	justify-content: start;
	align-items: strat;
	width: calc(30%);
	height: calc(8%);
    margin-right: 63%;
	margin-bottom: 2%;
}

.boton-regreso a {
	height: max-content;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.2s;
	padding: calc(1.5vh) calc(2.0vh);
	border-radius: calc(3.5vh);
	background: #212e46;
	display: flex;
	align-items: center;
	font-size: calc(3vh);
	box-shadow: 5px 5px 3px rgb(174, 174, 174);
}

.boton-regreso a > i {
	width: calc(7vh);
}

.boton-regreso a:hover {
	transition: transform 0.5s ease-in-out;
	transform: scale(1.1);
}

.slider {
	height: calc(80vh);
	width: calc(150vh);
	border-radius: calc(3vh);
	overflow: hidden;
	/* border: 1px solid red; */
}

.botones-pasos {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(8vh);
	width: calc(150vh);
	border-radius: calc(3vh);
	overflow: hidden;
}

.slides {
	width: 500%;
	height: calc(75vh);
	display: flex;
}

.slides .botonpaso {
	display: none;
}

.slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	transition: 2s;
}

.slide-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10% -1%;
	height: calc(60vh);
	width: calc(55%);
	border: 1px solid rgb(222, 222, 222);
	border-radius: calc(4vh);
	background: rgb(250, 250, 250);
	box-shadow: 2px 5px 10px #bebebe;
	margin-left: 4%;
}

.slide-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10% -1%;
	height: calc(60vh);
	width: calc(35%);
	border: 1px solid rgb(229, 229, 229);
	border-radius: calc(4vh);
	background: rgb(250, 250, 250);
	box-shadow: 2px 5px 10px #bebebe;
	margin-right: 4%;
}

.formulario {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	height: calc(60vh);
	width: calc(100%);
}

.campos-fomulario {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(80%);
	width: calc(100%);
	font-size: calc(2vh);
}

.campos-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(80%);
	width: calc(40%);
}

.campos-izq-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(90%);
	width: calc(50%);
}

.campos-der-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100%);
	width: calc(50%);
    /* border: 1px solid red; */
}

.campos-der-tarjeta img{
	height: auto;
	width: calc(80%);
}

.campos-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(70%);
	width: calc(60%);
}

.selector,
.texto-input {
	justify-content: center;
	align-items: center;
	width: calc(30vh);
	height: calc(2.5vh);
	font-size: calc(1.3vh);
	border: calc(0.5vh) solid silver;
	border-radius: calc(2vh);
}

.form-control select{
    height: calc(4vh);
    font-size: calc(1.8vh);
    text-align: right;
}

.fragil {
	font-size: calc(1.5vh);
	width: calc(10vh);
	height: calc(2.5vh);
}

.input {
	font-size: calc(1.5vh);
	width: calc(40vh);
	height: calc(3vh);
}

.boton-formulario {
	display: flex;
	justify-content: end;
	align-items: center;
	height: calc(10vh);
	width: calc(100%);
	bottom: 0;
	margin-right: 30%;
}

.btn-siguiente,
.btn-pagar,
.btn-salir,
.btn-agregar,
.btn-Noagregar {
	position: relative;
	font-size: calc(2vh);
	text-transform: uppercase;
	text-decoration: none;
	padding: calc(0.5em) calc(2.5em);
	display: inline-block;
	border-radius: 1em;
	transition: all 0.2s;
	border: none;
	font-weight: 500;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 106, 6);
}

.btn-siguiente,
.btn-pagar {
	background-color: rgb(0, 106, 6);
}

.btn-salir {
	background-color: rgb(223, 0, 0);
}

.btn-agregar {
	background-color: rgb(241, 255, 46);
    color: #e41f1a;
    margin-top: 10%;
}

.btn-Noagregar {
	background-color: rgb(233, 0, 0);
    color: #fff;
    margin-top: 10%;
}

.btn-siguiente:hover,
.btn-pagar:hover,
.btn-salir:hover,
.btn-agregar:hover,
.btn-Noagregar:hover {
	transform: translateY(-1px);
	box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.btn-siguiente::after,
.btn-pagar::after,
.btn-salir::after,
.btn-agregar::after,
.btn-Noagregar::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.3s;
}

.btn-siguiente::after,
.btn-pagar::after {
	background-color: rgb(9, 163, 12);
}

.btn-salir::after {
	background-color: rgb(242, 36, 36);
}

.btn-agregar::after {
	background-color: rgb(242, 255, 0);
}

.btn-Noagregar::after {
	background-color: rgb(242, 36, 36);
}

.btn-siguiente:hover::after,
.btn-salir:hover::after,
.btn-agregar:hover::after,
.btn-Noagregar:hover::after {
	transform: scaleX(1.1) scaleY(1.1);
	opacity: 0;
	cursor: pointer;
}

.btn-seleccionar {
	border: 1px solid #1feb00;
    background-color: #1feb0037;
	padding: calc(1.2vh);
    font-size: calc(2vh);
	border-radius: calc(1.5vh);
	cursor: pointer;
	/* transition: 1s; */
}

.btn-seleccionar:not(:last-child) {
	margin-right: 40px;
}

.btn-seleccionar:hover {
	background: #82e684;
}

#paso1:checked ~ .primero {
    margin-left: 0;
}

#paso2:checked ~ .primero {
	margin-left: -20%;
}

/* Validaciones */

.formulario__mensaje-exito-activo {
	display: block;
}

.form-control p {
display: inline-block;
font-size: calc(2vh);
font-weight: 600;
cursor: pointer;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input,
.form-control.success select {
	border-color: #2ecc71;
}

.form-control.error input,
.form-control.error select {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	visibility: hidden;
	left: 0;
	top: 10%;
}

.form-control.error small {
	visibility: visible;
	font-size: calc(1.5vh);
}

.mapa{
    display: flex;
	justify-content: center;
	align-items: center;
    height: 30vh;
    width: 50vh;
    border-radius: calc(3vh);
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
}

.costos{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 50vh;
    font-size: calc(1.5vh);
    text-transform: uppercase;
    font-style: italic;
}

.costos h1{
    font-size: calc(3vh);
    color: #212e46;
}

.costos h2{
    color: rgb(141, 141, 141);
}

.pago{
    display: flex;
	justify-content: center;
	align-items: center;
}

.tarjetasAgregadas{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    /* border: 1px solid blue; */
    height: calc(20vh);
    width: calc(100%);
}

.agregar-tarjeta{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    /* border: 1px solid blue; */
    height: calc(20vh);
    width: calc(100%);
}

.leyenda{
    display: flex;
	justify-content: center;
	align-items: center;
    height: calc(10vh);
    width: calc(100%);
    font-size: calc(2vh);
    color: #777;
    /* margin-top: 20%; */
}

.img-paquete{
    display: flex;
	justify-content: center;
	align-items: center;
    height: calc(20vh);
    width: calc(100%);
}

.img-paquete img{
    height: calc(18vh);
    width: auto;
}

.numEnvio{
    display: flex;
	justify-content: center;
	align-items: center;
    height: calc(5vh);
    width: calc(100%);
}


/* Agregar tarjeta */

.addTarjeta{
	display: flex;
	justify-content: center;
	text-align: center;
	z-index: 5;
	width: calc(90%);
	height: calc(35vh);
	margin-top: -70%;
	border-radius: calc(5vh);
	background: rgb(250, 250, 250);
}
.input-tarjeta,
.selector-tarjeta{
	display: flex;
	justify-content: center;
	text-align: center;
	width: calc(100%);
	height: calc(2.0vh);
	font-size: calc(1.3vh);
	border: calc(0.5vh) solid silver;
	border-radius: calc(2vh);
}

.input-chico,
.selector-chico{
		width: calc(15vh);
		margin: auto;
}

.grupo-tarjeta{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: calc(7vh);
	margin: auto;
}

.grupo-tarjeta label{
	font-size: calc(1.5vh);
}

.grupo-tarjeta select{
	font-size: calc(1.5vh);
}

.cancelar-tarjeta{
	margin-top: -27%;
	background-color: #e41f1a;
	color: #fff;
}

.cancelar-tarjeta{
	margin-top: -40%;
}
/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
