/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	/* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); */
	box-shadow: 0px calc(1vh) calc(1vh) rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(10vh);
}

.logo-header {
	height: calc(5vh);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.1);
}

.links {
	display: flex;
	width: 40%;
	height: calc(10vh);
	font-size: calc(1.5vw);
	justify-content: center;
	align-items: center;
}

.link-header {
	width: max-content;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: calc(5%);
}

.link-header a {
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: #212e46;
}

.link-header:hover,
.link-header:hover a {
	color: red;
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.3);
}

.botones {
	display: flex;
	height: calc(10vh);
	width: 40%;
	height: max-content;
	color: #170505;
}

.boton-header a {
	text-decoration: none;
	/* color: #fff; */
}

.boton-header {
	text-decoration: none;
	justify-content: center;
	width: max-content;
	align-items: center;
	margin: 5%;
	padding: calc(1vh) calc(2vh);
	border: unset;
	z-index: 1;
	border-radius: calc(2vh);
	position: relative;
	font-weight: 1000;
	font-size: calc(1vw);
	box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.2);
	transition: all 250ms;
	overflow: hidden;
	letter-spacing: 1px;
}

.botonEnviar {
	background-color: rgb(228, 31, 26, 1);
	color: #fff;
	width: 20%;
}

.botonIngresar {
	background-color: rgba(249, 217, 80, 1);
	color: #000;
	width: 30%;
}

.botonRegistrarse {
	background-color: rgba(33, 46, 70, 1);
	color: #fff;
	width: 40%;
}

.botonEnviar:hover {
	color: rgb(228, 31, 26, 1);
	transform: scale(1.05);
	cursor: pointer;
}

.botonIngresar:hover {
	color: #f9d950;
	transform: scale(1.05);
	cursor: pointer;
}

.botonRegistrarse:hover .botonRegistrarse:hover {
	color: #fff;
	transform: scale(1.05);
	cursor: pointer;
}

.boton-header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: calc(2vh);
	z-index: -1;
	box-shadow: 2px 5px 5px -3px rgba(0, 0, 0, 0.588);
	transition: all 250ms;
	background-color: #000;
}

.boton-header:hover::before {
	width: 100%;
	cursor: pointer;
}

.activo a {
	color: red;
	font-size: 120%;
	text-decoration: underline;
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	width: 100%;
	height: calc(100vh - 10vh - 6vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.izq {
	width: 50%;
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.der {
	width: 50%;
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 5%;
}

.img-repartidor img {
	height: calc(70vh);
}

.titulo-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(10vh);
}

.titulo-logo img {
	height: calc(10vh);
}

.slogan {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(30vh);
}

.texto-slogan {
	color: #e41f1a;
	font-size: calc(5vh);
	font-style: italic;
	font-weight: bold;
}

.boton-main-enviar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(20vh);
}

.boton-main-enviar a {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-family: inherit;
	font-size: calc(3vh);
}

.boton-main-enviar a {
	font-weight: 500;
	color: #212e46;
	text-transform: uppercase;
	padding: calc(4vh) calc(6vh);
	background: #ffc6c6;
	border: calc(0.5vh) solid #e41d1a;
	border-radius: calc(3vh);
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.boton-main-enviar a::before {
	position: absolute;
	content: "";
	width: 100%;
	height: calc(20vh 0.1rem);
	/* height: 100%; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e41d1aca;
	border-radius: inherit;
	box-shadow: 0 0 0 calc(0.5vh) #e41d1a, 0 0.625em 0 0 #e41d1a50;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.boton-main-enviar a:hover {
	background: #e41d1ae7;
	color: #fff;
	transform: translate(0, 0.25em);
}

.boton-main-enviar a:hover::before {
	box-shadow: 0 0 0 calc(0.5vh) #e41d1a, 0 0.5em 0 0 #e41d1a8f;
	transform: translate3d(0, 0.5em, -1em);
}

/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
