
/************************************************************************************
                                        Main
************************************************************************************/

/* Estilos con columnas del cuestionario */

.main {
	display: grid;
	text-align: center;
	height: 90%;
}
.main .texto{
    text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: xx-large;
	text-transform: uppercase;
    color: #e41f1a;
}

.main .mapa{
	display: grid;
	place-content: center;
}

iframe{
	margin-top: auto;
	border-radius: 20px;
	box-shadow: 5px 5px 3px rgb(174, 174, 174);
}
