/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	/* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); */
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 40%;
	height: calc(10vh);
	font-size: calc(1.5vw + 0.25rem);
	justify-content: center;
	align-items: center;
}

.link-header {
	width: min-content;
	height: auto;
	justify-content: center;
	align-items: center;
	margin: calc(5%);
}

.link-header a {
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: #212e46;
}

.link-header:hover,
.link-header:hover a {
	color: red;
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.3);
}

.botones {
	display: flex;
	height: calc(10vh);
	width: 40%;
	height: max-content;
	color: #170505;
}

.boton-header a {
	text-decoration: none;
	/* color: #fff; */
}

.boton-header {
	text-decoration: none;
	justify-content: center;
	width: max-content;
	align-items: center;
	margin: 5%;
	padding: 7px 4px;
	border: unset;
	z-index: 1;
	border-radius: 10px;
	position: relative;
	font-weight: 1000;
	font-size: calc(0.8vw + 0.25rem);
	box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.2);
	transition: all 250ms;
	overflow: hidden;
	letter-spacing: 1px;
}

.botonEnviar {
	background-color: rgb(228, 31, 26, 1);
	color: #fff;
	width: 20%;
}

.botonIngresar {
	background-color: rgba(249, 217, 80, 1);
	color: #000;
	width: 30%;
}

.botonRegistrarse {
	background-color: rgba(33, 46, 70, 1);
	color: #fff;
	width: 40%;
}

.botonEnviar:hover {
	color: rgb(228, 31, 26, 1);
	transform: scale(1.05);
	cursor: pointer;
}

.botonIngresar:hover {
	color: #f9d950;
	transform: scale(1.05);
	cursor: pointer;
}

.botonRegistrarse:hover .botonRegistrarse:hover {
	color: #fff;
	transform: scale(1.05);
	cursor: pointer;
}

.boton-header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 10px;
	z-index: -1;
	box-shadow: 4px 5px 5px -3px rgba(0, 0, 0, 0.588);
	transition: all 250ms;
	background-color: #000;
}

.boton-header:hover::before {
	width: 100%;
	cursor: pointer;
}

.activo a {
	color: red;
	font-size: 120%;
	text-decoration: underline;
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	width: 100%;
	height: calc(100vh - 10vh - 6vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.izq {
	width: 50%;
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 10%;
	padding: 10% -1%;
	height: calc(55vh);
	width: calc(30%);
	border-radius: 30px;
	background: rgb(250, 250, 250);
	box-shadow: 2px 5px 10px #bebebe;
}

.der {
	margin-left: 10%;
	width: 50%;
	height: calc(90vh - 10vh - 5vh);
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(4vh);
	margin-bottom: 3%;
}

.titulo-logo img {
	height: calc(6vh + 0.1rem);
}

.titulo-pagina {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titulo-pagina {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(5vh);
	color: #e4c01d;
	font-size: calc(2.5vh + 0.1rem);
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}

.descripcion-pagina {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(2vh);
	color: #212e46;
	font-size: calc(2vh + 0.1rem);
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}

.formulario {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.campo {
	height: calc(10vh);
}


.form-control {
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: auto;
	margin-top: 3%;
}

.form-control label {
	font-size: calc(2.5vh + 0.1rem);
	font-weight: 600;
	cursor: pointer;
	text-align: left;
}

.form-control small {
	font-size: calc(1.5vh + 0.3rem);
	font-weight: 300;
}

.form-control input {
	font-size: calc(1.5vh + 0.1rem);
	width: calc(15vh);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(203, 203, 203);
	border-radius: 10px;
	/* height: calc(3vh + 0.1rem); */
	line-height: 45px;
	/* padding: 0 30px 0 10px;	 */
	transition: 0.3s ease all;
}

.btn-form {
	position: relative;
	display: inline-block;
	padding: 3px 40px;
	text-align: center;
	font-size: calc(1.5vh + 0.3rem);
	letter-spacing: 1px;
	text-decoration: none;
	color: #212e46;
	cursor: pointer;
	transition: ease-out 0.5s;
	border: 1px solid #f9d950;
	background: #f9d950;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #f9d950;
}

.btn-form:hover {
	color: #212e46;
	background: rgb(246, 201, 0);
	transition: all 0.8s;
	transform: scale(1.3);
	box-shadow: 5px 5px 5px hsl(49, 93%, 0.3);
}

.ingresar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%);
}

.img-repartidor img {
	height: calc(80vh + 1rem);
}

/* Validaciones */

.formulario__mensaje-exito-activo {
	display: block;
}

.form-control {
	margin-bottom: 	10px;
	position: relative;
}

.form-control label {
	display: inline-block;
	font-weight: 600;
	cursor: pointer;
	text-align: left;
	padding-top: 10px;
}

.form-control input {
	width: 110%;
	background: rgb(255, 255, 255);
	border: 3px solid rgb(203, 203, 203);
	border-radius: 10px;
	height: 25px;
	line-height: 45px;
	padding: 0 30px 0 10px;
	transition: 0.3s ease all;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 57%;
	right: -10%;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	left: 0;
	top: 100%;
	text-align: left;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
	font-size: calc(1vh + 0.3rem);
	/* height: calc(3vh); */
}

/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
