/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        GENERAL
************************************************************************************/

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

/************************************************************************************
                                        Header
************************************************************************************/

.header {
	width: 100%;
	height: calc(10vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(250, 250, 250, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225); /*Propuesta*/
	text-transform: uppercase;
	font-size: calc(1vw + 0.5rem);
}

.logo {
	display: flex;
	width: 15%;
	height: calc(10vh);
	margin-top: 5px;
	margin-left: 10%;
	justify-content: center;
	align-items: center;
}

.logo-header {
	height: calc(2vw + 0.5rem);
	width: max-content;
}
.logo-header:hover {
	cursor: pointer;
	transition: all 1s;
	transform: scale(1.2);
}

.links {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.link-header {
	width: min-content;
	height: auto;
	justify-content: center;
	align-items: center;
	color: #e41f1a;
	letter-spacing: calc(0.25rem);
	font-size: calc(2vw);
	font-style: italic;
}

.usuario {
	display: flex;
	width: 50%;
	height: calc(10vh);
	justify-content: center;
	align-items: center;
}

.tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(50vh);
	height: calc(8vh);
	background: rgb(255, 243, 212);
	border: calc(0.8vh) solid rgb(16, 73, 158);
	border-radius: calc(3vh);
}

.tarjeta-izq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: calc(8vh);
	font-size: calc(6vh);
	margin-bottom: calc(2%);
	color: rgb(16, 73, 158);
}

.tarjeta-der {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: calc(7vh);
}

.nombre-tarjeta {
	height: 50%;
	width: 100%;
	font-size: calc(2vh);
	letter-spacing: calc(0.1rem);
	font-style: italic;
	color: rgb(16, 73, 158);
}

.iconos-tarjeta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 70%;
	font-size: calc(2.5vh);
	margin-bottom: 1%;
}

.elemento div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
}

.elemento {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(3vh);
	color: #000;
	font-weight: bold;
	height: 100%;
	color: rgb(80, 80, 80);
	width: auto;
	padding-left: 10%;
	padding-right: 10%;
}

.contenido-elemento h6 {
	font-size: calc(1.5vh);
}

h5 {
	color: rgb(151, 151, 151);
}

.cerrar {
	color: #e41f1a;
}

.activo {
	z-index: 1;
	background-color: rgba(0, 163, 238, 0.331);
	border-radius: 10px;
	padding: calc(0.08rem) calc(0.3rem);
	box-shadow: calc(1px) 1px 1px rgb(16, 73, 158);
	margin-right: 2%;
	margin-left: 2%;
}

.activo i,
.activo h6 {
	color: #000;
	letter-spacing: calc(0.02rem);
}

.activo h6 {
	margin-left: 10%;
}

.activo i {
	margin-right: -5%;
}

.elemento:hover {
	cursor: pointer;
	transition: all 0.1s;
	transform: scale(1.1);
}

/************************************************************************************
                                        Main
************************************************************************************/

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 90%;
	margin: auto;
	height: calc(100vh - 10vh - 6vh);
	/* border: 1px solid red; */
}

.arriba {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: calc(20vh);
}

.boton-regreso {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(20%);
	height: calc(90%);
}

.boton-regreso a {
	height: max-content;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.2s;
	padding: calc(2vh) calc(3vh);
	border-radius: calc(3.5vh);
	background: #212e46;
	display: flex;
	align-items: center;
	font-size: calc(3vh);
	box-shadow: 5px 5px 3px rgb(174, 174, 174);
}

.boton-regreso a > i {
	width: calc(7vh);
}

.boton-regreso a:hover {
	transition: transform 0.5s ease-in-out;
	transform: scale(1.2);
}

.barra-busqueda {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: calc(90%);
}

.buscar input {
	width: calc(60vh);
	height: calc(5vh);
	font-size: calc(3vh);
	color: #000;
	outline: none;
	border: calc(0.05rem) solid silver;
	border-radius: calc(3vh);
}

.lupa {
	color: #fff;
	font-size: calc(3vh);
	padding: calc(2vh);
	border-radius: 50%;
	transform: translateX(-100%);
	background-color: #212e46;
}

.barra-busqueda:hover {
	cursor: pointer;
	transition: all 1s ease-in-out;
	transform: scale(1.2);
}

.lupa:hover{
	cursor: pointer;
}

.logo-categoria {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: calc(90%);
}

.logo-categoria img {
	height: calc(12vh);
	width: calc(12vh);
	border-radius: 50%;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.225);
}

.logo-categoria img:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.botones-main{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100vh);
	height: calc(10vh);
}

.agregar .btn3{
	font-weight: 760;
	color: #e41f1a;
	background: #f9d950;
	padding: calc(1.5vh) calc(2vh);
	border: none;
	border-radius: calc(2vh);
	font-size: calc(2vh);
	box-shadow: 5px 3px 3px rgb(174, 174, 174);
	margin-bottom: 40%;
}

.agregar .btn3:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.5s;
}


.tabla {
	display: flex;
	justify-content: center;
	align-items: start;
	width: calc(100vh);
	height: calc(60vh);
}

table {
	width: calc(100%);
	text-align: center;
	border-collapse: collapse;
}

th {
	font-size: calc(2vh);
	height: calc(1vh);
}

td {
	height: calc(1vh);
	font-size: calc(2vh);
}

thead {
	background-color: #f9d950;
	border-bottom: solid 5px #212e46;
	color: #212e46;
}

tr:nth-child(even) {
	background-color: #ddd;
}

.ubicacion {
	width: calc(20vh);
	/* border: 1px solid red; */
}

.nombre-ubicacion {
	text-align: left;
	padding-left: 5%;
}

.modelo {
	width: calc(15vh);
	/* border: 1px solid blue; */
}

.tamanio {
	width: calc(5vh);
	font-size: calc(1.8vh);
}

.acciones {
	width: calc(5vh);
}

.accion {
	width: calc(10vh);
	font-size: calc(1.8vh);
}

.btn-estado,
.btn-editar,
.btn-eliminar {
	border: none;
	background: none;
	height: fit-content;
}

.btn-estado img,
.btn-editar img,
.btn-eliminar img {
	height: calc(3.5vh);
	width: calc(3.5vh);
}

.btn-estado:hover,
.btn-editar:hover,
.btn-eliminar:hover {
	transform: scale(1.1);
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

.tablatest th:last-child,
.tablatest td:last-child {
	border-right: 0;
}

.tabla {
	max-height: 50%;
	overflow-y: scroll;
}

.tablatest .sticky {
	position: sticky;
	top: 0;
}

.tabla::-webkit-scrollbar {
	-webkit-appearance: none;
}

.tabla::-webkit-scrollbar:vertical {
	width: 10px;
}

.tabla::-webkit-scrollbar-thumb {
	background-color: #797979;
	border-radius: 20px;
	border: 2px solid #f1f2f3;
}

/* Modal */

dialog {
	background: #fff;
	margin: auto;
}

.encabezado-modal {
	border-radius: 10px;
	height: 30px;
	text-align: end;
}

.encabezado-modal button {
	height: 30px;
	color: #e41f1a;
	font-size: 30px;
	border: none;
	background: none;
}

.encabezado-modal button:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.titulo-modal {
	/* margin-top: -20%; */
	color: #ffc800;
	font-size: 150%;
	font-style: italic;
	height: auto;
}

.icono-modal {
	margin-top: -5%;
	color: #009d03;
	font-size: 100px;
	font-style: italic;
}

.texto-modal {
	color: #212e46;
	font-size: 20px;
	font-style: italic;
}

#modal-btn::backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}

#modal-btn {
	border-radius: 30px;
	max-width: 100ch;
}

.botones-modal button {
	padding: 10px 30px;
	text-align: center;
	justify-content: center;
	margin: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.botones-modal button:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.5s;
}

.confirmar,
.intentar,
.aceptar {
	background-color: #3dbc56;
}
.cancelar {
	background-color: #e76c3c;
}

.info-message{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px 10px 30px;
	margin: 0px 0px 10px 0px;
	min-width: 50vh;
	max-width: 120;
	background-color: rgb(220, 255, 255);
	border-radius: 5px;
	border: 1px solid rgba(75, 209, 203, 0.2);
	color: rgb(52, 131, 127);
}

.error-message{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px 10px 30px;
	margin: 0px 0px 10px 0px;
	min-width: 50vh;
	max-width: 120;
	background-color: rgb(255, 201, 201);
	border-radius: 5px;
	border: 1px solid rgba(209, 75, 75, 0.2);
	color: rgb(131, 52, 52);
}
/************************************************************************************
                                        Footer
************************************************************************************/

.footer,
.footer a {
	width: 100%;
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212e46;
	text-decoration: none;
	color: #fff;
}

.derechos {
	width: calc(60%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1.5vw);
}

.redes {
	width: calc(40%);
	height: calc(6vh);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	font-weight: 1000;
	font-size: calc(1.5vw);
}

.red:hover {
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(1.2);
}
