/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/************************************************************************************
                                        Main
************************************************************************************/


.titulovalidacion {
	color: #f9d950;
	margin-top: 0px;
	text-align: center;
	font-weight: normal;
	font: italic bold 22px Helvetica, Sans-Serif;
}
img.pequeña {
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 5%;
	display: flex;
}

.textgeneral {
	margin-top: 0px;
	text-align: center;
	font-weight: 800;
	font: italic bold 25px Helvetica, "Open Sans";
}
.nuevo {
	color: #212e46;
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}
.texto {
	padding: 10px;
	float: left;
	max-width: 60%;
	margin-left: 40px;
}
.imagenreperror {
	padding: 10px;
	float: right;
	align-items: center;
	margin-right: 50px;
	max-width: 70%;
}
.imagenrepemail {
	padding: 10px;
	float: right;
	align-items: center;
	margin-right: 120px;
	max-width: 50%;
}
.imgn {
	opacity: 50%;
}
.imagenerror
{
	padding: 10px;
	float: center;
	align-items: center;
	margin-left: 290px;
	max-width: 70%;
}
.btn2 button {
	font-weight: 700;
	background-color: #f9d950;
	color: #212e46;
	padding: 10px 30px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	margin-left: 270px;
}

.btn2 button:hover {
	transition: all 0.5s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px #e41f1a;
	
}
