
/************************************************************************************
                                        Main
************************************************************************************/

.texto{
	padding: 10px;
	float: left;
	max-width: 60%;
	margin-left: 40px;
}

img.pequeña{
	margin-left: auto;
	margin-right: auto;
    width: 35%;
    height: 5%;
display: flex;
}

.titulovalidacion{
	color: #f9d950;
	margin-top: 0px;
	text-align: center;
	font-weight: normal;
	font: italic bold 22px Helvetica, Sans-Serif;
}
.textgeneral{
	margin-top: 0px;
	text-align: center;
	font-weight: 800;
	font:italic bold 25px Helvetica, 'Open Sans';  
}

.nuevo {
	color: #212e46;
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}

.imagenrepemail
{
	padding: 10px;
	float: right;
	align-items: center;
	margin-right: 120px;
	max-width: 50%;
}
 .imgn {
	opacity: 50%;
  }