
/************************************************************************************
                                        Main
************************************************************************************/

.texto {
	padding: 10px;
	float: left;
	max-width: 60%;
	margin-left: 40px;
}

img.pequeña {
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 5%;
	display: flex;
}

.titulovalidacion {
	color: #f9d950;
	margin-top: 0px;
	text-align: center;
	font-weight: normal;
	font-family: "Oswald", sans-serif;
}
.textgeneral {
	margin-top: 0px;
	text-align: center;
	font-weight: 800;
	font-family: "Oswald", sans-serif;
}

.pregunta {
	height: 100px;
	width: 500px;
	font-weight: bolder;
	text-align: center;
	display: flex;
	flex-direction: row;
	margin-left: auto;	
	margin-right: auto;	
}

.boton {
	color: #212e46;
    display: grid;
	place-content: center;
}

.imagenrepemail {
	padding: 10px;
	float: right;
	align-items: center;
	margin-right: 10%;
	max-width: 50%;
}
.imgn {
	opacity: 50%;
}

.btn-renviar button {
	margin-top: 20px;
    background-color: #f9d950;
    color: #212e46;
    padding: 10px 20px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
	margin-left: -10px;
}


.btn-renviar button:hover {
	cursor: pointer;
	background-color: #f5cc16;
	transition: all 0.8s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px #f9d950;
}
